@import '../../styles/scss/variables';
@import '../../styles/scss/mixins/font-size';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
.Header {
  background: rgba(255, 255, 255, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  @include media-breakpoint-up(lg) {
    background: rgba(255, 255, 255, 0.85);
  }
  svg {
    width: 114px;
    height: 42px;
    vertical-align: middle;
  }
}
