%CIRCLE_NUMBER {
	font-size: 1rem;
	display: inline-block;
	width: 5.5em;
	height: 5.5em;
	padding: 1em 0;
	border: 4px solid $WHITE;
	border-radius: 50%;
	color: WHITE;
	font-family: $PRIMARY_FONT;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;

	big {
		display: block;
		font-size: 1.5em;
		line-height: 1;
	}

	@include media-breakpoint-up(md) {
		font-size: 1.5rem;
		width: 6em;
		height: 6em;
		padding: 1em 0;

		big {
			font-size: 2em;
		}

		span {
			font-size: .75em;
		}
	}
}