%DEFAULT_BODY_STYLE {
	font-family: $PRIMARY_FONT;

	h1 {
		font-family: $HEADING_FONT;
		font-weight: bold;
		font-size: 3.25rem;
		color: $PRIMARY_COLOR;
		text-transform: uppercase;
	}

	h2, h3, h4, h5, h6 {
		font-family: $PRIMARY_FONT;
		text-transform: uppercase;
	}
}