%GRADIENT {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e3e3e3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#e3e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}