@import '../../styles/scss/variables';
@import '../../styles/scss/mixins/font-size';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
$BENEFIT_HEIGHT: 20rem;
.Benefits {
  background-color: #215F43;
  h1,
  h1+small {
    color: $WHITE;
  }
  &-items {
    text-align: center;
    color: $WHITE;
    h3 {
      text-transform: uppercase;
    }
    >div:nth-of-type(1) {
      background-color: $ACCENT_COLOR;
      img {
        margin-top: 1rem;
      }
    }
    >div:nth-of-type(2) {
      background-color: #ED764D;
    }
    >div:nth-of-type(3) {
      background-color: #A3D39C;
      img {
        margin-top: 1rem;
      }
    }
    >div:nth-of-type(4) {
      background-color: #6CAD8C;
    }
    >div:nth-of-type(5) {
      background-color: #437154;
    }
    >div:nth-of-type(6) {
      background-color: #215F43;
    }
  }
  &-item {
    height: $BENEFIT_HEIGHT;
    overflow: hidden;
    .Benefits-itemCard,
    .Benefits-itemDesc {
      width: 100%;
      min-height: $BENEFIT_HEIGHT;
      padding-top: 3rem;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: $WHITE;
      img {
        align-self: center;
      }
    }
    a:active,
    a:visited,
    a:focus {
      text-decoration: none;
      outline: none;
    }
  }
  &-itemCard {
    margin-top: 0;
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }
  &-itemDesc {
    padding-left: 1rem;
    padding-right: 1rem;
    p {
      @include fontSize(18px);
      line-height: 1;
    }
  }
  .Benefits-item.reveal {
    .Benefits-itemCard {
      margin-top: -$BENEFIT_HEIGHT;
      ;
    }
  }
  @include media-breakpoint-up(lg) {
    &-itemDesc {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      p {
        @include fontSize(20px);
      }
    }
    .Benefits-item:hover {
      .Benefits-itemCard {
        margin-top: -$BENEFIT_HEIGHT;
        ;
      }
    }
  }
}
