// Override Bootstrap button
.btn {
	border-radius: 0;
	text-transform: uppercase;
}

.btn-primary {
	background-color: $ACCENT_COLOR;
	border-color: $ACCENT_COLOR;
	
	&:hover {
		background-color: darken($ACCENT_COLOR, 15%);
		border-color: darken($ACCENT_COLOR, 15%);
	}
}

.btn-secondary {
	background-color: $WHITE;
	border-color: $ACCENT_COLOR;
	color: $ACCENT_COLOR;
	cursor: pointer;
	
	&:hover {
		background-color: $ACCENT_COLOR;
		border-color: $ACCENT_COLOR;
		color: $WHITE;
	}
}

.btn-tertiary {
	@extend .btn-secondary;
	border: 0;
	font-family: $PRIMARY_FONT;
	font-weight: bold;
	margin: 20px 0 0 0;
	
	&:hover {
		border: 0;
	}
}

.Button {
	box-sizing: border-box;
	display: inline-block;
	padding: 8px 20px;
	background-color: transparent;
	border: 1px solid $PRIMARY_COLOR;
	border-radius: .5rem;
	color: $PRIMARY_COLOR;
	cursor: pointer;
	text-transform: capitalize;
	text-decoration: none;
	transform: translateY(0px);
	font-size: 1rem;
	transition:
		color $ANIM_SPEED,
		background-color $ANIM_SPEED;

	&:hover {
		background-color: $PRIMARY_COLOR;
		color: $WHITE;
		text-decoration: none;
	}
}

.Button.Button--search {
	@extend .Button;
	border: 1px solid $PRIMARY_COLOR;
	background-color: $PRIMARY_COLOR;
	border-radius: 0 .5rem .5rem 0;
	color: $WHITE;
	
	&:hover {
		background-color: $ACCENT_COLOR;
		border-color: $ACCENT_COLOR;
		color: $WHITE;
	}
}