.Cart {
	color: $WHITE;
	cursor: pointer;
	padding: .5em;
	position: relative;
	z-index: 1000;
	
	a.Cart-checkout {
		color: $ACCENT_COLOR;
		width: 100%;
		
		&:hover {
			color: $WHITE;
		}
	}
	
	&-container {
		background: $PRIMARY_COLOR;
		border: 1px solid rgba(255,255,255,.15);
		border-radius: $BORDER_RADIUS;
		box-sizing: border-box;
		color: $WHITE;
		cursor: default;
		display: none;
		font-family: $PRIMARY_FONT;
		font-size: 15px;
		padding: 20px;
		position: absolute;
		left: -220px;
		top: 45px;
		text-align: left;
		width: 300px;
		
		box-shadow: 0px 6px 14px rgba(0,0,0,.1), 0px 4px 10px rgba(0,0,0,.01);

		& > ul {
			border-top: 1px solid rgba(255,255,255,.25);
			border-bottom: 1px solid rgba(255,255,255,.25);
			list-style-type: none;
			margin: 14px 0 0 0;
			padding: 0;
			
			& > li {
				border-top: 1px solid rgba(255,255,255,.25);
				margin: 0;
				padding: 10px 0;
				
				&:first-child {
					border-top: 0;
				}
			}
			
		}
		
		&::before {
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $PRIMARY_COLOR;
			content: '';
			position: absolute;
			top: -10px;
			right: 45px;
			width: 0; 
			height: 0; 
		}
		
		.Cart.active & {
			display: block;
		}
	}
	
	&-header {
		@extend %CLEAR;
		text-align: left;
	}
	
	&-view {
		color: $WHITE;
		display: inline-block;
		float: right;
		margin: 3px 0 0 0;
		text-align: right;
		
		&:hover {
			color: rgba(255,255,255,.8);
		}
	}
	
	&-count {
		font-size: 20px;
	}
	
	&-total {
		@extend %CLEAR;
		font-size: 18px;
		margin: 15px 0 0 0;
	}
	
	&-product {
		font-family: $PRIMARY_FONT;
	}
	
	&-grandTotal {
		font-size: 18px;
		float: right;
		text-align: right;
	}
	
	&-quantity {
		text-transform: none;
	}
	
	&-removeItem {
		cursor: pointer;
		display: block;
		float: right;
		position: relative;
		top: 2px;
		width: 16px;
		height: 16px;
		transition: opacity $TRANSITION_TIME;
		
		&:hover {
			opacity: .8;
		}
		
		svg {
			width: 100%;
			height: 100%;
		}
	}
	
}

.Navigation.mobile-active .Cart-container {

	background-color: $WHITE;
	color: $PRIMARY_COLOR;

	> ul {
		border-color: rgba($PRIMARY_COLOR, .5);
	}
	
	&::before {
		border-bottom: 10px solid $WHITE;
	}
}
