// Override bootstrap default
.card {
	border-radius: 0;
	text-transform: uppercase;
	background-color: $PRIMARY_COLOR;
	color: $WHITE;
	letter-spacing: 1px;
}

.card.accent {
	background-color: $ACCENT_COLOR;
}

.card.accent {
	background-color: $ACCENT_COLOR;
}

.card-header {
	padding: .25rem;
	background-color: transparent;
	border-bottom: 2px solid $WHITE;
	@include fontSize(18px);
	border-radius: 0;
}

.card-footer {
	padding: .25rem;
	@include fontSize(14px);
	color: $PRIMARY_COLOR;

	&:last-child {
		border-radius: 0;
	}
}

.accent .card-footer {
	color: $ACCENT_COLOR;
}