.Content {
	padding: 4rem 2rem;
	color: $PRIMARY_COLOR;
	background-image: linear-gradient($WHITE, lighten($SILVER, 15%));
	@include fontSize(18px);

	&-logo {
		width: 170px;
		height: 60px;
	}

	img {
		min-width: 240px;
		max-width: 100%;
	}

	h2 {
		font-family: $PRIMARY_FONT;
		@include fontSize(26px);

		em {
			font-family: $UBUNTU;
		}
	}

	&-title {
		margin-top: .5em;
		margin-bottom: 0;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;

		em {
			color: $ACCENT_COLOR;
			font-style: normal;
		}

		small {
			font-family: $UBUNTU;
			font-style: italic;
			text-transform: lowercase;
			@include fontSize(20px);
			color: $DUSTY_GRAY;
		}

		+ h3 {
			font-family: $UBUNTU;
			font-style: italic;
			@include fontSize(20px);
			font-weight: normal;
		}
	}

	&-more {
		text-transform: uppercase;
		font-weight: bold;
		text-decoration: underline;
	}

	&-imgColumn {
		text-align: center;

		a {
			color: $DUSTY_GRAY;
			text-decoration: underline;
			@include fontSize(12px);
			letter-spacing: 1px;
		}
	}

	&-selection {
		max-width: 800px;
		margin: 0 auto;

		> div {
			margin: .25rem;
			padding: .75rem;

			@include fontSize(20px);
			background-color: $WHITE;
			border: 1px solid $PRIMARY_COLOR;

			strong {
				@include fontSize(30px);
			}
		}

		.accent {
			background-color: $ACCENT_COLOR;
			color: $WHITE;
			border: none;
		}

		& + em {
			position: relative;
			color: $ACCENT_COLOR;
			font-family: $UBUNTU;
			font-style: italic;
			font-weight: normal;
		}
		
		& + em::before {
			content: '';
			position: absolute;
			left: -20px;
			bottom: 4px;
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid $ACCENT_COLOR;
		}

		& + em::after {
			content: '';
			position: absolute;
			right: -20px;
			bottom: 4px;
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid $ACCENT_COLOR;
		}
	}

	&-gradient {
		position: relative;
		margin-bottom: .5rem;
		
		img {
			width: 100%;
		}

		> em {
			position: absolute;
			top: 25%;
			left: 1rem;
			font-family: $UBUNTU;
		}
	}

	&-cards {
		.card-block {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 1rem;
			min-height: 155px;
		}

		& + em {
			font-family: $UBUNTU;
			color: $DUSTY_GRAY;
		}
	}

	@include media-breakpoint-up(lg) {
		
		&-selection {
			> div {
				padding: 1.25rem;

				strong {
					display: block;
				}
			}

			& + em {
				
				right: -240px;
				line-height: 2;
			}

		}

		&-cards {
			& + em {
				float: right;
			}
		}

	}
}

.Content--single {
	text-align: center;
}

.Content--inverse {
	padding: 2rem;
	background: url(../images//ultra-flex-accent-bg.jpg) center center;
	color: $WHITE;
	letter-spacing: 1px;

	.Content-title {
		font-family: $UBUNTU;
		font-style: italic;
		text-transform: inherit;
	}

	a:not(.btn) {
		text-decoration: underline;
		color: $WHITE;
	}
}

.Content--chess {
	padding: 0;

	.row > div {
		padding: 4rem;
	}

	.row > div:nth-child(even) {
		background-color: lighten($SILVER, 10%);
	}

	@include media-breakpoint-up(md) {
		
		.row > div:nth-child(even) {
			background-color: transparent;
		}

		> div {
			position: relative;
			
			// Chess BG
			&::after {
				content: '';
				display: block;
				width: 50%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: lighten($SILVER, 10%);
				z-index: 0;
			}
		}

		> div:nth-child(odd) {
			// Chess BG
			&::after {
				left: 50%;
			}
		}

		.container-fluid .row {
			position: relative;
			z-index: 1;
		}
	}
}

.Content--plain {
	background-image: none;
}

h2.Content-intl {
	font-family: $UBUNTU;
	font-weight: 500;
	@include fontSize(24px);
	
	& + p {
		font-family: $UBUNTU;
		@include fontSize(20px);
	}
}