// Override Bootstrap dropdown
.dropdown {
	&-menu {
		padding: 0;
		border: 0;
		border-radius: 0;
		font-size: 1rem;
		text-align: center;
	}

	&-item {
		padding-top: .75rem;
		padding-bottom: .75rem;
		color: $WHITE;
		background-color: $ACCENT_COLOR;
	}

	&-item:nth-of-type(1) {
		border-top: none;
	}

	@include media-breakpoint-up(lg) {

		&-menu::before {
			content: '';
			display: block;
			position: absolute;
			top: -10px;
			left: 44%;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $ACCENT_COLOR;
		}

		&-item:hover {
			color: $PRIMARY_COLOR;
			background-color: lighten($ACCENT_COLOR, 15%);
		}

	}
}