.Error404 {
	background: #84b992;
	background: -moz-radial-gradient(center, ellipse cover, #84b992 0%, #48865e 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #84b992 0%,#48865e 100%);
	background: radial-gradient(ellipse at center, #84b992 0%,#48865e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84b992', endColorstr='#48865e',GradientType=1 );
	margin: 0 auto;
	padding: 120px 0;
	text-align: center;
	
	&-image {
		display: block;
		position: relative;
		
		img {
			padding: 0 15px;
			max-width: 100%;
		}
		
		span {
			color: $WHITE;
			display: block;
			padding: 30px 15px 0;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
		}
			
		@include media-breakpoint-up(md) {
			display: inline-block;
			
			span {
				position: absolute;
				right: 0;
				bottom: -30px;
				text-align: left;
				width: 41%;
			}
		}
	}
	
	&-cta {
		margin: 80px 0 0 0;
	}
	
}