.FAQ {
	padding: 5em 0;
	
	a {
		background: $WHITE;
		border: 1px solid $PRIMARY_COLOR;
		display: block;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		position: relative;
		margin: 15px 0;
		text-align: center;
		padding: 0 15px;
		width: 100%;
		height: 160px;
		word-wrap: break-word;
		transition: background 200ms, color 200ms;
		@include fontSize(20px);
		
		& > span {
			display: block;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
		
		&:hover {
			background: $PRIMARY_COLOR;
			color: $WHITE;
		}
	}
}