.Features {
	color: $DOVEGRAY;
	position: relative;
	
	.container-fluid {
		z-index: 1;
	}
	
	p {
		@include fontSize(18px);
	}
	
	&-title {
		margin: 0;
		padding: 30px 10px 10px 10px;
		font-weight: bold;
		text-transform: uppercase;
		@include fontSize(38px);
		
		@include media-breakpoint-up(md) {
			padding: 30px 0 20px 30px;
		}
	}
	
	&-menu {
		background-color: $RUM_SWIZZLE;
		border-right: 1px solid $PRIMARY_COLOR;
		color: $PRIMARY_COLOR;
		@include fontSize(30px);
		margin: 0;
		padding: 0;
	}
	
	&-links {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			box-sizing: border-box;
			padding: 5px 10px;
			width: 100%;
			
			a {
				color: $PRIMARY_COLOR;
			}
		
			@include media-breakpoint-up(md) {
				padding: 5px 30px;
			}
		}
		
		.active {
			background-color: $PRIMARY_COLOR;
			
			a {
				color: $WHITE;
			}
		}
	}
	
	&-image {
		display: block;
		max-width: 100%;
		margin-bottom: 2rem;
	}
	
	&-back {
		margin: 2em auto 0;
	}
	
	&-content {
		background-color: $WHITE;
		padding: 15px;
		
		h1 {
			margin: 0 0 1rem 0;
			@include fontSize(42px);
		}
		
		h1, h2, h3, h4, h5, h6 {
			color: $PRIMARY_COLOR;
			font-weight: bold;
		}
		
		@include media-breakpoint-up(md) {
			padding: 30px;
		}
	}
	
	&-table {
		margin: 0 auto 4em;
		text-align: center;
		
		.row {
			border-bottom: 1px solid $SILVER;
			padding: 10px 0;
		}
		
		.col-4 {
			@include fontSize(20px);
		}
	}
	
	&-tableHeading {
		background-color: $PRIMARY_COLOR;
		color: $WHITE;
		font-family: $HEADING_FONT;
		padding: 10px 0;
		
		.col-4 {
			@include fontSize(20px);
			word-wrap: break-word;
		}
		
		small {
			display: block;
			font-size: 60%;
			width: 100%;
		}
		
		@include media-breakpoint-up(md) {
			.col-4 {
				@include fontSize(20px);
			}
		}
	}
	
	&-rates {
		margin: 2rem 0 0 0;
		text-align: center;
		
		h3 {
			font-weight: bold;
			@include fontSize(28px);
		}
		
		h4 {
			color: $DOVEGRAY;
			margin: 0 0 15px 0;
			vertical-align: middle;
		}
	}
	
	&-highlight {
		background: $ACCENT_COLOR;
		color: $WHITE;
		font-family: $HEADING_FONT;
		line-height: 130%;
		font-style: italic;
		margin: 0 0 1rem 0;
		padding: 5px 0;
		@include fontSize(18px);
	}
	
	&-footer {
		margin: 1rem 0 2rem;
		text-align: center;
		
		h2 {
			font-weight: bold;
			@include fontSize(28px);
		}
	}
	
	&-bg {
		background-color: $RUM_SWIZZLE;
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		z-index: 0;
	}
}