.Featuring {
	padding: 2rem 2rem 1rem;
	background: url(../images//ultra-flex-featuring-bg.jpg) no-repeat center center;
	background-size: cover;
	color: $PRIMARY_COLOR;
	text-align: center;

	h2 {
		text-transform: uppercase;
		// font-family: $HEADING_FONT;
		@include fontSize(26px);
		font-weight: bold;
		letter-spacing: 4px;
		
		& + p {
			font-size: 1.25rem;
		}
	}

	&-desc {
		display: inline-block;
		padding: .25rem 2rem;
		background-color: $ACCENT_COLOR;
		color: $WHITE;
		letter-spacing: 1px;
		@include fontSize(18px);

		i {
			font-family: $UBUNTU;
		}
	}

	&-list {
		list-style: none;
		margin-top: 1rem;
		margin-bottom: 0;
		padding: 0;
		@include fontSize(20px);
		font-family: $PRIMARY_FONT;
		font-weight: bold;

		svg {
			width: 22px;
			height: 22px;
			vertical-align: text-bottom;
		}

		li {
			display: inline-block;
			padding: 0 .25rem;
			text-transform: uppercase;
		}
	}
	
	&-legend {
		font-style: italic;

		svg {
			width: 22px;
			height: 22px;
			vertical-align: text-bottom;
		}
	}

	@include media-breakpoint-up(md) {
		
		&-legend {
			text-align: right;
		}

	}
	
}

.Featuring--inverse {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background: url(../images//ultra-flex-global-bg.jpg) no-repeat center center;
	background-size: cover;
	color: $WHITE;

	h2 {
		text-transform: none;
		font-weight: normal;
		font-family: $PRIMARY_FONT;
		letter-spacing: 1px;

		em {
			font-family: $UBUNTU;
		}
	}

	p {
		letter-spacing: 1px;
	}
}