.Footer {
	color: $PRIMARY_COLOR_LIGHT;
	padding: 0;
	text-align: center;

	&-copyRight {
		padding: .75rem;
		background-color: $PRIMARY_COLOR;
		color: $PRIMARY_COLOR_LIGHT;
		font-size: .875rem;

		ul {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: center;

			li	a {
				padding: 0 .75rem;
				color: $PRIMARY_COLOR_LIGHT;
			}

			li:first-of-type {
				margin-right: .75rem;
			}
		}

	}

	@include media-breakpoint-up(md) {

		&-copyRight {
			ul {
				flex-direction: row;

				li a {
					border-left: 1px solid $WHITE;
				}
			}
		}

	}
		
	@include media-breakpoint-up(lg) {

		&-nav {
			margin-left: 0;
		}
		
		&-communication {
			margin-left: 0;
		}
		
	}

}