.Hero {
	position: relative;
	padding: 2rem 2rem 4rem;
	background: $PRIMARY_COLOR_MED;
	color: $WHITE;
	text-align: center;

	background-repeat: no-repeat;
	background-position: center bottom;
	
	// Gradient overlay
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient($PRIMARY_COLOR_DARK, $PRIMARY_COLOR_MED);
		opacity: .75;
	}

	// Triangle down
	&::after {
		content: '';
		position: absolute;
		bottom: -17px;
		left: 45%;
		width: 0; 
		height: 0; 
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;

		border-top: 18px solid $PRIMARY_COLOR_MED;
	}

	&-logo {
		width: 232px;
		height: 20px;
	}

	&-eyeCatcher {
		font-family: $AVANT_GARDE;
		line-height: 1;

		small {
			font-size: .5em;
			vertical-align: middle;
		}
	}

	sup {
		font-size: .5em;
		vertical-align: middle;
	}

	sub {
		font-family: $PRIMARY_FONT;
		font-size: 1rem;
	}

	&-tagLine {
		display: inline-block;
		margin: 1rem;
		font-family: $UBUNTU;
		@include fontSize(23px);
		font-style: italic;
		letter-spacing: 1px;
		line-height: 1.25;
	}

	@include media-breakpoint-up(md) {
		
		// Triangle down
		&::after {
			left: 48%;
		}

	}
}

.Hero--home {
	background-image: url(../images//ultra-flex-hero-home-bg.png);

	.Hero-tagLine {
		padding-bottom: .25rem;
		border-bottom: 4px solid $ACCENT_COLOR;
	}

	.Hero-desc {
		@include fontSize(32px);

		sup {
			text-decoration: underline;
		}

		small {
			font-family: $UBUNTU;
			font-style: italic;
			@include fontSize(11px);
			color: $SILVER;
		}
	}
}

.Hero--family {
	background-image: url(../images//ultra-flex-hero-family-bg.jpg);
	background-size: cover;

	.Hero-eyeCatcher {
		@include fontSize(74px);
	}
}

.Hero--individual {
	display: flex;
	justify-content: center;
	background-image: url(../images//ultra-flex-hero-individual-bg.jpg);
	background-size: cover;

	.Hero-eyeCatcher {
		justify-content: center;
		@include fontSize(74px);

	}

	@include media-breakpoint-down(md) {

		.Price + div,
		.Price + div small {
			font-size: 1rem;
		}

		.Price + div small {
			margin-right: .5rem;
		}
		
	}
}

.Hero--faq {
	padding: 5em 0;
	
	.Hero-title {
		color: $WHITE;
		font-weight: bold;
		margin: 0 0 16px 0;
		text-transform: uppercase;
		letter-spacing: 4px;
		@include fontSize(26px);
	}
	
	a {
		color: $WHITE;
		text-decoration: underline;
	}
	
	p {
		font-style: italic;
		letter-spacing: 1px;
		margin: 0;
		@include fontSize(20px);
	}
}

.Hero--features {
	padding-top: 4rem;
	background-image: url(../images//ultra-flex-hero-features-bg.jpg);

	.Hero-title {
		margin-bottom: 0;
		color: $WHITE;
		text-transform: uppercase;
		letter-spacing: 1px;
		@include fontSize(40px);

		& + p {
			font-family: $UBUNTU;
			font-style: italic;
			@include fontSize(26px);
		}
	}
}

.Hero--intlRates {
	padding-bottom: 2rem;
	background-image: url(../images//ultra-flex-global-bg.jpg);

	.Hero-tagLine {
		em {
			display: block;
			font-family: $AVANT_GARDE;
			text-transform: uppercase;
			font-style: normal;
			@include fontSize(40px);
		}
	}
}