.IntlRates {
	@include fontSize(16px);
	margin: 0 auto 50px;
	text-align: center;
	text-transform: uppercase;
	
	&-form {
		margin: 0 0 50px 0;
		
		& > form {
			display: flex;
			justify-content: center;
			
			input {
				border: 1px solid $SILVER;
				border-right: 0;
				border-radius: .5rem 0 0 .5rem;
				padding: 8px;
				text-transform: uppercase;
				width: 100%;
				@include fontSize(16px);
				
				@include media-breakpoint-up(md) {
					padding: 12px 20px;
					width: 50%;
				}
			}
			
			button {
				background-color: $ACCENT_COLOR;
				color: $WHITE;
				padding: 12px 20px;
				text-transform: uppercase;
				@include fontSize(16px);
			}
		}
	}
	
	&-carriers {
		background: $PRIMARY_COLOR;
		color: $WHITE;
		margin: 0 0 15px 0;
		padding: 8px 0;
		text-transform: normal;
		@include fontSize(16px);
	}
	
	&-submit {}
	
	&-data {
		border: 1px solid $PRIMARY_COLOR;
	}
	
	&-heading {
		background: $FEATHERS;
		color: $ACCENT_COLOR;
		
		.col {
			padding: 20px 0;
		}
		
		.col:nth-child(2) {
			background: rgba(0,0,0,0.025);
		}
	}
	
	&-rows {
		color: $PRIMARY_COLOR;
		
		.col {
			padding: 20px 0;
		}
		
		.col:nth-child(2) {
			background: $FEATHERS;
		}
		
		&:last-of-type {
			.IntlRates-carriers {
				margin: 0;
			}
		}
	}
	
	@include media-breakpoint-up(md) {
		@include fontSize(24px);
	}
}