.Modal {
	background-color: rgba(0,0,0,.6);
	
	.modal-dialog {
		max-width: 1200px;
		margin: 4% auto 0;
	}
	
	.modal-header {
		border: 0;
		padding: 0;
	}
	
	.modal-title {
		color: $WHITE;
		font-size: 1.6rem;
		font-weight: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-shadow: 0 1px 0 rgba(0,0,0,.5);
	}
	
	.modal-content {
		background-color: transparent;
		border-radius: 0;
		border: 0;
	}
	
	button.close {
		color: $WHITE;
		font-size: 2rem;
		padding: 5px 0 5px 8px;
		opacity: .85;
		text-shadow: 0 1px 0 rgba(0,0,0,.5);
		transition: opacity $ANIM_SPEED;
		
		&:hover {
			opacity: 1;
		}
	}
	
	.modal-body {
		padding: 0;
	}
}

.Modal.Modal--video {
	.modal-body {
		@include aspectRatio(16,9);
	}
	.modal-dialog {
		max-width: 800px;
	}
}