.Navigation {
  text-transform: uppercase;
  padding: .65rem 1rem;
  &-brand {
    padding: 0 .5rem;
    svg {
      width: 114px;
      height: 42px;
      vertical-align: middle;
    }
  }
  &-navbar {
    // Mobile nav is expanded
    position: fixed;
    width: 100%;
    top: $HEADER_AUX_NAV_HEIGHT + $HEADER_NAV_HEIGHT;
    right: 0;
    left: 0;
    padding: 1.5rem 0;
    overflow-y: scroll;
    background-color: $PRIMARY_COLOR;
  }
  &-nav {
    text-align: center;
    letter-spacing: 0.5px;
    .nav-link {
      color: $WHITE;
    }
    .hidden-sm-up {
      font-size: 10px;
      line-height: 2rem;
    }
    .dropdown-menu {
      left: -75%;
    }
  }
  .nav-item {
    margin-left: 1rem;
  }
  &-toggler {
    width: 36px;
    height: 36px;
    top: .5rem; // Fix iOS issue
    margin-top: .25rem;
    padding: 2px;
    >span {
      background-color: $WHITE;
      display: block;
      margin: 3px auto;
      width: 100%;
      height: 4px;
    }
  }
  @include media-breakpoint-up(lg) {
    .active>a {
      border-bottom: 4px solid $ACCENT_COLOR;
    }
    &-nav {
      font-size: 1em;
      .nav-link {
        color: $WHITE;
      }
    }
    &-navbar {
      position: static;
      width: auto;
      height: auto;
      top: auto;
      padding: 0;
      overflow-y: inherit;
      background-color: transparent;
    }
  }
  @include media-breakpoint-up(xl) {}
}

.Navigation.Navigation--aux {
  padding: 5px 0;
  background-color: $PRIMARY_COLOR;
  font-size: 10px;
  .nav {
    justify-content: center;
  }
  a {
    color: $WHITE;
  }
  .wpml-ls-item-legacy-dropdown-click {
    >a {
      color: $WHITE;
      background-color: transparent;
    }
    >a:hover {
      color: $WHITE;
    }
  }
  .wpml-ls-link {
    color: $PRIMARY_COLOR;
  }
  @include media-breakpoint-up(md) {
    .nav {
      justify-content: end;
    }
  }
}
