.PageTitle {
	padding: 50px 0;
	text-align: center;
	
	h1 {
		color: $PRIMARY_COLOR;
		font-family: $UBUNTU;
		font-weight: 500;
		line-height: 90%;
		margin: 0;
		@include fontSize(22px);
		
		@include media-breakpoint-up(md) {
			@include fontSize(26px);
		}
	}
	
	h2 {
		color: $PRIMARY_COLOR;
		font-style: italic;
		font-family: $UBUNTU;
		line-height: 130%;
		margin: 0;
		@include fontSize(18px);
		
		@include media-breakpoint-up(md) {
			@include fontSize(22px);
		}
	}
	
	// Only add extra spacing if the sub title is displayed.
	h1 + h2,
	&.PageTitle--additional h2 + &.PageTitle--additional h3 {
		margin: convertPxToRem(8px) 0 0 0;
	}
		
	.accent {
		color: $ACCENT_COLOR;
	}
	
}

// This was created to allow for only one primary H1 when using the
// .PageTitle class on a page. Meaning, we can add more .PageTitle elements
// to the page with the same sytles except we can use H2 instead of H1.
.PageTitle.PageTitle--additional {
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	
	// Same as ".PageTitle h1"
	h2 {
		color: $PRIMARY_COLOR;
		font-family: $UBUNTU;
		font-weight: 700;
		line-height: 90%;
		margin: 0;
		@include fontSize(22px);
		
		@include media-breakpoint-up(md) {
			@include fontSize(26px);
		}
	}
	
	// Same as ".PageTitle h2"
	h3 {
		color: $PRIMARY_COLOR;
		font-style: italic;
		font-family: $UBUNTU;
		line-height: 130%;
		margin: 0;
		@include fontSize(18px);
		
		@include media-breakpoint-up(md) {
			@include fontSize(22px);
		}
	}
	
	// Only add extra spacing if the sub title is displayed.
	h2 + h3 {
		margin: convertPxToRem(8px) 0 0 0;
	}
}

.MoreContent {
	.PageTitle {
		padding: 0;
	}
}