.Price {
	font-family: $AVANT_GARDE;
	line-height: 1;
	letter-spacing: -1px;

	> span {
		letter-spacing: -0.25rem;
		margin-right: .25rem;
	}

	sup {
		font-size: .5em;
		vertical-align: middle;
	}

	small {
		margin-top: -1em;
		vertical-align: text-top;
	}

	sub {
		margin-top: 1.5em;
		letter-spacing: 0;
		font-family: $PRIMARY_FONT;
		font-size: 1rem;
	}

	small + sub {
		margin-left: -4em;
	}
}

.Hero {
	.Price {
		> span {
			letter-spacing: -1rem;
			margin-right: 15px;
		}
	}
}

.Hero--home {

	.Price {
		margin-top: 2rem;
		justify-content: center;
		@include fontSize(96px);

		@include media-breakpoint-up(md) {

			margin-top: 0;
			justify-content: start;

		}
	}

}

.Hero--individual {
	.Price {
		display: block;
		@include fontSize(100px);
	}

	@include media-breakpoint-up(md) {

		.Price {
			@include fontSize(74px);
			display: inline-block;
			padding-right: 20px;
		}

		.Price small + sub {
			margin-left: -3em;
			font-size: .85rem;
		}
		
	}

}

.card {
	.Price {
		margin-bottom: 1rem;
		
		@include fontSize(50px);

		sub {
			display: block;
			margin-top: 0;
			margin-left: 0;

			@include fontSize(13px);
		}
	}
}
