.Product {
	color: $PRIMARY_COLOR;

	hr {
		border-color: $PRIMARY_COLOR;
	}

	&-img {
		img {
			max-width: 100%;
		}
	}
	
	&-info {
		padding: 0 2rem 2rem;

		h2 {
			font-family: $PRIMARY_FONT;
			color: $PRIMARY_COLOR;
			@include fontSize(26px);

			small {
				color: $DUSTY_GRAY;
			}
		}

		h2 + p {
			color: $ACCENT_COLOR;
			@include fontSize(18px);
		}
	}

	&-notice {
		display: inline-block;
		padding: .75rem;
		font-family: $UBUNTU;
		font-style: italic;
		background-color: $ACCENT_COLOR;
		color: $WHITE;
		@include fontSize(14px);
		letter-spacing: 1px;
	}

	&-price {
		font-family: $UBUNTU;
		@include fontSize(25px);
		color: $PRIMARY_COLOR;
	}

	&-action {
		margin-bottom: 1rem;
	}

	&-qty {
		.btn {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}

	@include media-breakpoint-up (md) {
		&-info {
			padding-top: 4rem;
		}
	}
}