$SHARE_ICON_SIZE: 50px;

.Share {
	margin: 1em 0;

	> a {
		margin-right: 1em;
	}

	svg {
		fill: $PRIMARY_COLOR;
		width: $SHARE_ICON_SIZE;
		height: $SHARE_ICON_SIZE;
	}
}

.Footer {

	.Share {
		
		@include media-breakpoint-up (sm) {
			svg {
				width: $SHARE_ICON_SIZE / 1.75;
				height: $SHARE_ICON_SIZE / 1.75;
			}
		}

	}

}

.Header {

	.Share {
		display: flex;
		justify-content: center;

		svg {
			fill: $WHITE;
		}

		@include media-breakpoint-up (lg) {
			display: none;
		}

	}

}