@font-face {
	font-family: 'Trade Gothic Cond';
	src: url('../fonts/30ebcbfa-d651-4ecd-a0a2-2bb110def1d4.woff2') format('woff2'),
		url('../fonts/fb754dec-aa8f-444c-be48-868464c47ab0.woff') format('woff'),
		url('../fonts/295ff20c-2b48-4fa6-be92-a53bbf9bbbb4.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Trade Gothic Cond';
	src: url('../fonts/1ba28851-f34b-4cb8-bf58-6a4b160ba249.woff2') format('woff2'),
		url('../fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff') format('woff'),
		url('../fonts/616c4c87-a077-43f4-a9f4-f01267c13818.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

$_FONT_FACE: 'Trade Gothic Cond';

%trade-gothic-cond {
	font-family: $_FONT_FACE, sans-serif;
}