@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-BoldItalic.eot');
	src: url('../fonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-BoldItalic.woff') format('woff'),
		url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Light.eot');
	src: url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-Light.woff') format('woff'),
		url('../fonts/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-LightItalic.eot');
	src: url('../fonts/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-LightItalic.woff') format('woff'),
		url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu.eot');
	src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu.woff') format('woff'),
		url('../fonts/Ubuntu.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Italic.eot');
	src: url('../fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-Italic.woff') format('woff'),
		url('../fonts/Ubuntu-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Bold.eot');
	src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-Bold.woff') format('woff'),
		url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-MediumItalic.eot');
	src: url('../fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-MediumItalic.woff') format('woff'),
		url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Medium.eot');
	src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-Medium.woff') format('woff'),
		url('../fonts/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}