@import '../../styles/scss/variables';
@import '../../styles/scss/mixins/font-size';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
footer {
  padding: 40px 0 0;
  // background-color: $PRIMARY_COLOR;
  // color: $BLACK;
  background-color: $PRIMARY_COLOR;
  color: $WHITE;
  font-size: .875em;
  margin: 0;
  padding: 1.5rem 1.5rem 90px 1.5rem;
  text-align: center;
  white-space: no-drop;
  span {
    display: block;
    margin-right: .75em;
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    li {
      border: 0;
      display: block;
      padding: 0 .75em;
    }
    a {
      color: $WHITE;
      &:hover {
        text-decoration: none;
        color: $WHITE
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding: 1.5rem;
  }
  @include media-breakpoint-up(lg) {
    ul {
      width: 55%;
      margin: 0 auto;
      li {
        border-left: 1px solid $WHITE;
        display: inline-block;
      }
      li:first-of-type {
        border-left: 0;
      }
    }
  }
  h6 {
    color: $DOVEGRAY;
    font-family: $PRIMARY_FONT;
    font-weight: bold;
    margin: 0 0 .5rem 0;
    text-transform: uppercase;
    @include fontSize(20px);
  }
  &-logo {
    display: inline-block;
    width: 172px;
    height: 38px;
    margin-left: 0;
    margin-bottom: 40px;
    &>svg {
      width: 100%;
      height: 100%;
    }
    @include media-breakpoint-up(lg) {}
  }
  @include media-breakpoint-up(lg) {
    &-nav {
      margin-left: 0;
    }
  }
}
