@font-face {
	font-family: 'Avant Garde';
	src: url('../fonts/ITCAvantGardeStd-Bk.eot'); // IE9 compatibility
	src: url('../fonts/ITCAvantGardeStd-Bk.woff') format('woff'),
		url('../fonts/ITCAvantGardeStd-Bk.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Avant Garde';
	src: url('../fonts/ITCAvantGardeStd-Bold.eot'); // IE9 compatibility
	src: url('../fonts/ITCAvantGardeStd-Bold.woff') format('woff'),
		url('../fonts/ITCAvantGardeStd-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Avant Garde';
	src: url('../fonts/ITCAvantGardeStd-Md.eot'); // IE9 compatibility
	src: url('../fonts/ITCAvantGardeStd-Md.woff') format('woff'),
		url('../fonts/ITCAvantGardeStd-Md.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avant Garde';
	src: url('../fonts/ITCAvantGardeStd-XLt.eot'); // IE9 compatibility
	src: url('../fonts/ITCAvantGardeStd-XLt.woff') format('woff'),
		url('../fonts/ITCAvantGardeStd-XLt.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

%avant-garde-std {
	font-family: 'Avant Garde', sans-serif;
	font-weight: 400;
}

%avant-garde-bold {
	font-family: 'Avant Garde', sans-serif;
	font-weight: 700;
}

%avant-garde-medium {
	font-family: 'Avant Garde', sans-serif;
	font-weight: 200;
}

%avant-garde-xlt {
	font-family: 'Avant Garde', sans-serif;
	font-weight: 100;
}