@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Bold.eot'); // IE9 compatibility
	src: url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

$_FONT_FACE: 'Proxima Nova';

%proxima-nova {
	font-family: $_FONT_FACE, sans-serif;
}