.Balloon {
    img {
        position: relative;
        margin: 100px;
        z-index: 99;
        -webkit-animation-name: example;
        -webkit-animation-duration: 16s;
        -webkit-animation-direction: alternate;
        animation-name: example;
        animation-duration: 8s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    @-webkit-keyframes example {
        0% {left: 0px; top: 0px;}
        25% {left: 500px; top: 0px;}
        50% {left: 500px; top: 500px;}
        75% {left: 0px; top: 500px;}
        100% {left: 0px; top: 0px;}
    }
    @keyframes example {
        0% {left: 0px; top: 0px;}
        25% {left: 500px; top: 0px;}
        50% {left: 500px; top: 500px;}
        75% {left: 0px; top: 500px;}
        100% {left: 0px; top: 0px;}
    }
}