@import '../../styles/scss/variables';
@import '../../styles/scss/mixins/font-size';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
.Coverage {
  background: $ACUA_SQUEEZE;
  font-family: $BODY_FONT;
  padding: 1em;
  &-title {
    text-transform: uppercase;
    color: $PRIMARY_COLOR;
    text-align: center;
    margin: 1em auto;
    font-family: $HEADING_FONT;
    h3:nth-child(2) {
      color: $ACCENT_COLOR;
    }
  }
  button {
    background-color: $ACCENT_COLOR;
    color: $WHITE;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    p {
      margin: 1rem auto;
    }
  }
}
