@import '../../styles/scss/variables';
.card {
  border-radius: 0;
  text-transform: uppercase;
  background-color: $WHITE;
  color: $PRIMARY_COLOR;
  letter-spacing: 1px;
}

.card.accent {
  background-color: $ACCENT_COLOR;
}

.card.accent {
  background-color: $ACCENT_COLOR;
}

.card-title {
  font-size: 2em;
}

.card-header {
  padding: .25rem;
  background-color: transparent;
  border-bottom: 2px solid $WHITE;
  font-size: 18px;
  border-radius: 0;
}

.card-footer {
  padding: .25rem;
  font-size: 14px;
  color: $PRIMARY_COLOR;
  &:last-child {
    border-radius: 0;
  }
}

.accent .card-footer {
  color: $ACCENT_COLOR;
}
