@import '../../styles/scss/variables';
@import '../../styles/scss/mixins/font-size';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
.Banner {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $WHITE;
  font-size: 1.2rem;
  text-align: center;
  white-space: no-drop;

  span.bold {
    display: inline-block;
    font-weight: 800;
  }
 
  ul {
    display: block;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    li {
      border: 0;
      text-align: center;
      display: block;
      padding: 0 .75em;
    }
  }

  @include media-breakpoint-up(lg) {
    ul {
      width: 100%;
      margin: 0 auto;
      li {
        border-left: 1px solid $WHITE;
        height: 30px;
        display: inline-block;
      }
      li:first-of-type {
        border-left: 0;
      }
    }
  }
}
