%COMPONENT_TITLE {
	font-family: $HEADING_FONT;
	@include fontSize(30px);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: $PRIMARY_COLOR;

	> em {
		font-style: normal;
		color: $ACCENT_COLOR;
	}

	@include media-breakpoint-up(lg) {
		@include fontSize(50px);
	}
}

%COMPONENT_TITLE + small {
	display: block;
	margin-top: -.5em;
	font-family: $PRIMARY_FONT;
	@include fontSize(16px);
	text-align: center;
	text-transform: uppercase;
	color: $DUSTY_GRAY;
	letter-spacing: 1px;

	@include media-breakpoint-up(lg) {
		@include fontSize(20px);
	}
}
