@import '../../styles/scss/variables';
@import '../../styles/scss/mixins/font-size';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
.Plans {
  padding-top: 2rem;
  padding-bottom: 2rem; //   background-image: url(../images/wood.jpg);
  background-repeat: repeat-y;
  >.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: $WHITE;
    h2 {
      @include fontSize(32px);
      font-family: $HEADING_FONT;
      font-weight: bold;
      color: $PRIMARY_COLOR_DARK;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      @include fontSize(20px);
      color: $DOVEGRAY;
      text-align: center;
      line-height: 1.15;
    }
    img {
      order: 1;
      width: 120px;
    }
    @include media-breakpoint-up(lg) {
      display: block;
      h2 {
        @include fontSize(54px);
        text-align: left;
      }
      p {
        @include fontSize(26px);
        text-align: left;
      }
      img {
        margin: 0 2rem 0 3rem;
        width: auto;
      }
    }
  }
  &-title {
    margin-bottom: 0;
    padding: 1rem;
    @include fontSize(34px);
    font-family: $PRIMARY_FONT;
    text-transform: uppercase;
    text-align: center;
    color: $WHITE;
    background-color: lighten($PRIMARY_COLOR, 10%);
    letter-spacing: .35rem;
  }
  &-body {
    >div:nth-of-type(2) .card {
      border-top: 1px solid $DUSTY_GRAY;
      border-bottom: 1px solid $DUSTY_GRAY;
    }
    @include media-breakpoint-up(lg) {
      >div:nth-of-type(2) .card {
        border-top: 0;
        border-right: 2px solid $DUSTY_GRAY;
        border-bottom: 0;
        border-left: 2px solid $DUSTY_GRAY;
      }
    }
  }
  &-accent {
    position: absolute;
    top: -15px;
    left: -60px;
    width: 160px;
    padding: 2rem 0 .5rem;
    background-color: $TREE_POPPY;
    transform: rotate(-45deg);
    font-style: normal;
    line-height: 1;
    color: white;
    @include fontSize(15px);
    letter-spacing: 1px;
  }
  &-price {
    margin-right: .1em;
    padding-right: .1em;
    position: relative;
    @include fontSize(111px);
    color: $PRIMARY_COLOR_DARK;
    letter-spacing: -.25rem;
    font-family: $PRIMARY_FONT;
    line-height: 1;
    text-align: right;
    sup {
      font-size: .25em;
      vertical-align: super;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 70%;
      top: 15%;
      right: 0;
      background-color: $SILVER;
    }
  }
  &-priceFeature {
    margin: .15em 0 0;
    padding: 0;
    @include fontSize(68px);
    line-height: 1;
    text-align: left;
    color: lighten($PRIMARY_COLOR, 10%);
    span {
      display: block;
      line-height: .25;
      @include fontSize(29px);
    }
  }
  &-toggleBtn {
    display: block;
    margin-top: 2rem;
    background-color: transparent;
    color: $WHITE;
    text-align: center;
    font-family: $PRIMARY_FONT;
    font-size: 1.5rem;
    letter-spacing: 2px;
    >span:nth-of-type(2) {
      display: none;
    }
  }
  .Plans-toggle.show~.Plans-toggleBtn>span:nth-of-type(1) {
    display: none;
  }
  .Plans-toggle.show~.Plans-toggleBtn>span:nth-of-type(2) {
    display: block;
  }
  .card {
    padding: 1rem;
    border: 0;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
  }
  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.5rem 0 0;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(lg) {
      padding-top: 3rem;
    }
  }
  .card-title {
    margin-bottom: 2rem;
    font-family: $PRIMARY_FONT;
    sub {
      display: block;
      margin-top: -.75rem;
      letter-spacing: 2px;
      color: $DUSTY_GRAY;
      @include fontSize(15px);
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 3rem;
    }
  }
  .card-text {
    .btn {
      display: block;
      padding: .75rem 1.25rem;
      letter-spacing: 1px;
      font-size: 1rem;
      background-color: $ACCENT_COLOR;
      border-radius: 0px;
      border: 0px;
      @include media-breakpoint-up(lg) {
        display: inline-block;
      }
    }
    small {
      display: block;
      margin-top: .5rem;
      letter-spacing: 1px;
      color: $DUSTY_GRAY;
    }
  }
  .card-footer {
    background-color: transparent;
    border: 0;
  }
}
