.AddOns {

	&-table {
		border-collapse: collapse;

		th {
			padding: .5rem .25rem;
			border: 1px solid $PRIMARY_COLOR;
			background-color: $PRIMARY_COLOR;
			text-align: center;
			font-size: convertPxToRem(27px);
			font-weight: normal;
			color: #fff;
		}

		th:nth-child(1) {
			width: 20%;
		}

		tr {
			border-bottom: 1px solid $PRIMARY_COLOR;
			border-left: 1px solid $PRIMARY_COLOR;
			border-right: 1px solid $PRIMARY_COLOR;
		}

		td {
			padding: .75rem .25rem;
			border: none;
			background-color: $WHITE;
			text-align: center;
			font-size: convertPxToRem(22px);
			text-transform: uppercase;
			color: $PRIMARY_COLOR;
		}

		td:first-of-type {
			text-align: left;
			padding-left: 3%;
			vertical-align: middle;
		}

		& + p {
			color: $PRIMARY_COLOR;
			font-size: convertPxToRem(22px);
			font-family: $PRIMARY_FONT;
		}

		& ~ a {
			display: block;
			width: 200px;
			margin: 0 auto;
			text-align: center;
		}
	}

	&-footer {
		color: $DOVEGRAY;
		background-color: $WILD_SAND;
		font-family: $PRIMARY_FONT;
		margin: 3rem 0 0 0;
		padding-bottom: 3rem;
		overflow: hidden;

		h2 {
			padding: 3rem 0;
			text-align: center;
		}

		h3 {
			color: $DOVEGRAY;
			font-size: 1.5rem;
			margin: 35px 0 10px;
			text-transform: uppercase;
		}

		ul {
			font-size: .9rem;
		}
	}

	&-purchaseMethod {
		margin-bottom: 3rem;
		text-align: center;

		a {
			color: $DOVEGRAY;
			text-decoration: underline;
		}

		img {
			max-width: 150px;
		}

		p {
			margin-bottom: .5rem;
			font-size: convertPxToRem(32px);
			color: $PRIMARY_COLOR;
		}
	}

}