.Article {
	
	img {
		max-width: 100%;
	}
	
	a {
		color: $PRIMARY_COLOR;
		text-decoration: none;
		
		&:hover {
			color: $ACCENT_COLOR;
			text-decoration: none;
		}
	}
		
	h1 {
		@include fontSize(34px);
		margin: 0 0 10px 0;
	}
	
	&-header {
		margin: 70px auto 20px;
		
		@include media-breakpoint-up(md) {
			max-width: 80%;
		}
		
		@include media-breakpoint-up(lg) {
			max-width: 60%;
		}
	}
	
	&-meta {
		color: $DUSTY_GRAY;
		font-weight: bold;
		margin-bottom: 20px;
	}
	
	&-content {
		margin: 0 auto;
		
		p {
			margin: 20px 0;
		}
		
		@include media-breakpoint-up(md) {
			max-width: 80%;
		}
		
		@include media-breakpoint-up(lg) {
			max-width: 60%;
		}
		
		h2 {
			@include fontSize(30px);
			margin: 40px 0 20px;
		}
		
		h3 {
			@include fontSize(26px);
			margin: 40px 0 20px;
		}
	}
	
	&-footer {
		margin: 50px auto 0;
		text-align: center;
		
		@include media-breakpoint-up(md) {
			max-width: 80%;
		}
		
		@include media-breakpoint-up(lg) {
			max-width: 60%;
		}
	}
	
}