.Blog {
	
	img {
		max-width: 100%;
	}
	
	a {
		color: $PRIMARY_COLOR;
		text-decoration: none;
		
		&:hover {
			color: $ACCENT_COLOR;
			text-decoration: none;
		}
	}
		
	h1 {
		@include fontSize(34px);
		margin: 0 0 10px 0;
	}
	
	&-header {
		margin: 50px auto;
		
		@include media-breakpoint-up(md) {
			max-width: 80%;
		}
		
		@include media-breakpoint-up(lg) {
			max-width: 60%;
		}
	}
	
	&-meta {
		color: $DUSTY_GRAY;
		font-weight: bold;
		margin-bottom: 30px;
	}
	
	&-content {
		border-bottom: 1px solid $SILVER;
		margin: 50px auto;
		padding: 0 0 50px 0;
		
		&:last-of-type {
			border: 0;
		}
		
		p {
			margin: 30px 0;
		}
		
		@include media-breakpoint-up(md) {
			max-width: 80%;
		}
		
		@include media-breakpoint-up(lg) {
			max-width: 60%;
		}
		
		h2 {
			@include fontSize(30px);
		}
		
		h3 {
			@include fontSize(26px);
		}
	}
	
	
}