.Button {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid $PRIMARY_COLOR;
  border-radius: .5rem;
  color: $PRIMARY_COLOR;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  transform: translateY(0px);
  font-size: 1rem;
  transition: color $ANIM_SPEED, background-color $ANIM_SPEED;
  &:hover {
    background-color: $PRIMARY_COLOR;
    color: $WHITE;
    text-decoration: none;
  }
}

.Button.Button--static {
  border: 1px solid $PRIMARY_COLOR;
  background-color: $WHITE;
  color: $PRIMARY_COLOR;
}

.Button.Button--white {
  border: 1px solid $WHITE;
  color: $WHITE;
  &:hover {
    background-color: $PRIMARY_COLOR;
  }
}

.Button.Button--purple {
  border: 1px solid $PRIMARY_COLOR;
  background-color: $PRIMARY_COLOR;
  color: $WHITE;
  &:hover {
    border: 1px solid $PRIMARY_COLOR;
    background-color: $WHITE;
    color: $PRIMARY_COLOR;
  }
}

.Button.Button--search {
  @extend .Button;
  border: 1px solid $PRIMARY_COLOR;
  background-color: $PRIMARY_COLOR;
  border-radius: 0 .5rem .5rem 0;
  color: $WHITE;
  &:hover {
    background-color: $ACCENT_COLOR;
    border-color: $ACCENT_COLOR;
    color: $WHITE;
  }
}

.Button.Button--submitForm,
.Button.Button--checkout {
  @extend .Button.Button--purple;
  border-color: $ACCENT_COLOR;
  border-radius: 1px;
  background-color: $ACCENT_COLOR;
  text-align: center;
  cursor: pointer;
  width: 100%;
  &:hover {
    background-color: darken($ACCENT_COLOR, 15%);
    border-color: darken($ACCENT_COLOR, 15%);
    color: $WHITE;
  }
}

.Button.Button--submitForm {
  margin-top: 10px;
}

.Button.Button--cart {
  @extend .Button.Button--purple;
  border-radius: 1px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.Button.Button--shop {
  padding: 10px 50px;
  line-height: 100%;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.Button.Button--playIcon {
  i {
    border: 1px solid $PRIMARY_COLOR;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 0 -6px;
    padding: 6px 0 6px 9px;
    vertical-align: sub;
    width: 26px;
    height: 26px;
    &::before {
      content: '';
      display: block;
      position: relative;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 8px solid $PRIMARY_COLOR;
    }
  }
}

.Button.Button--addToCart {
  box-sizing: border-box;
  background-color: $PRIMARY_COLOR;
  color: $WHITE;
  cursor: pointer;
  display: block;
  margin: 25px 0 0 0;
  padding: 8px 45px;
  width: 100%;
  @include fontSize(17px);
  @include media-breakpoint-up(md) {
    display: inline-block;
    width: auto;
  }
  &:hover {
    background-color: $WHITE;
    color: $PRIMARY_COLOR;
  }
}

.Cart {
  .Button.Button--white {
    @extend .Button.Button--white;
    display: block;
    border-radius: 2px;
    margin-top: 20px;
    text-align: center;
    &:hover {
      background-color: $WHITE;
      color: $PRIMARY_COLOR;
      text-decoration: none;
    }
  }
}

.Coverage {
  .Button {
    background-color: $WHITE;
    border: 1px solid $WHITE;
    color: $PRIMARY_COLOR;
    &::before {
      background: transparent;
      border: 1px solid $PRIMARY_COLOR;
      border-radius: 50%;
      content: '';
      display: inline-block;
      margin-right: 6px;
      width: 12px;
      height: 12px;
    }
  }
  .Button.Button--active {
    background-color: $DARKSEED;
    border: 1px solid $DARKSEED;
    color: $WHITE;
    &::before {
      background: $WHITE;
      border: 1px solid $WHITE;
      border-radius: 50%;
      content: '';
      display: inline-block;
      margin-right: 6px;
      width: 12px;
      height: 12px;
    }
  }
}

.Button.disabled {
  background-color: $DUSTY_GRAY;
  border-color: $DUSTY_GRAY;
  pointer-events: none;
}

.Order {
  &-checkout .btn.disabled {
    opacity: .2;
  }
}
