.Carousel {
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.owl-carousel.off {
		display: block;
	}
}

.Carousel.Carousel--testimonial {
	$ARROW_SIZE: 15px;
	$BG_COLOR: rgba($PRIMARY_COLOR, .65);
	
	position: relative;
	padding-top: 2rem;
	background: url(../images/img-testimonial.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	color: $WHITE;
	font-family: $PRIMARY_FONT;
	font-weight: 100;
	font-size: convertPxToRem(20px);
	text-align: center;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $BG_COLOR;
	}

	.owl-carousel.off {
		display: flex;
	}

	.Carousel-name {
		position: absolute;
		width: 88%;
		text-align: center;
		bottom: 0;
	}

	.Carousel-copy {
		align-self: center;
	}

	.Carousel-list {
		position: relative;
		min-height: 300px;
		padding: 2rem;
		display: flex;
	}

	@include media-breakpoint-up(lg) {
		margin-top: 3rem;

		&::before {
			display: none;
		}

		.Carousel-name {
			display: block;
			width: 100%;
			padding: .5rem 0;
			position: absolute;
			bottom: 0;
			background-color: $BG_COLOR;

			&::before {
				content: '';
				position: absolute;
				top: -$ARROW_SIZE;
				left: 40%;
				border-left: $ARROW_SIZE * 2 solid transparent;
				border-right: $ARROW_SIZE * 2 solid transparent;
				border-bottom: $ARROW_SIZE solid $BG_COLOR;
			}
		}

		.Carousel-copy {
			display: none;
			padding: 2rem;
			align-self: center;
		}

		.Carousel-list {
			$ARROW_HEIGHT: 40px;

			display: flex;
			padding: 0;
			position: relative;
			min-height: 350px;
			margin-top: $ARROW_HEIGHT;

			&:hover {
				background-color: $BG_COLOR;

				&::before {
					content: '';
					position: absolute;
					width: 50%;
					left: 0;
					top: -$ARROW_HEIGHT;
					border-bottom: $ARROW_HEIGHT solid $BG_COLOR;
					border-right: $ARROW_HEIGHT solid transparent;
				}

				&::after {
					content: '';
					position: absolute;
					left: 50%;
					top: -$ARROW_HEIGHT;
					right: 0;
					border-bottom: $ARROW_HEIGHT solid $BG_COLOR;
					border-left: $ARROW_HEIGHT solid transparent;
				}
				
				.Carousel-copy {
					display: block;
				}

				.Carousel-name {
					background-color: transparent;
				}

				.Carousel-name::before {
					display: none;
				}
			}
		}
	
	}

}