.Cart {
	position: relative;
	z-index: 1000;
	
	.nav-link {
		color: $PRIMARY_COLOR;
		cursor: pointer;
		transition: color $ANIM_SPEED;

		&:hover {
			color: lighten($PRIMARY_COLOR, 15%);
		}
	}
	
	&-container {
		background: $PRIMARY_COLOR;
		border-radius: 5px;
		box-sizing: border-box;
		color: $WHITE;
		cursor: default;
		display: none;
		font-family: $PRIMARY_FONT;
		font-size: 14px;
		padding: 20px;
		position: absolute;
		left: -157px;
		top: 44px;
		text-align: left;
		width: 290px;
		
		box-shadow: 0px 6px 14px rgba(0,0,0,.1), 0px 4px 10px rgba(0,0,0,.01);
		
		@include media-breakpoint-up(lg) {
			left: -117px;
		}

		& > ul {
			box-sizing: border-box;
			border-top: 1px solid rgba(255,255,255,.25);
			border-bottom: 1px solid rgba(255,255,255,.25);
			list-style-type: none;
			margin: 14px 0 0 0;
			padding: 0;
			width: 100%;
			
			& > li {
				border-top: 1px solid rgba(255,255,255,.25);
				margin: 0;
				padding: 10px 0;
				width: 100%;
				
				&:first-child {
					border-top: 0;
				}
			}
		}
		
		&::before {
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $PRIMARY_COLOR;
			content: '';
			position: absolute;
			top: -10px;
			right: 100px;
			width: 0; 
			height: 0; 
			
			@include media-breakpoint-up(lg) {
				right: 128px;
			}
		}
	}
	
	&.active .nav-link {
		border: 0 !important;
		line-height: 1.5;
	}

	&.active &-container {
		display: block;
	}
	
	&-header {
		text-align: left;
	}
	
	&-view {
		color: $WHITE;
		display: inline-block;
		float: right;
		margin: 4px 0 0 0;
		text-align: right;
		text-decoration: underline;
		
		&:hover {
			color: rgba(255,255,255,.8);
		}
	}
	
	&-count {
		font-size: 20px;
	}
	
	&-total {
		font-size: 18px;
		margin: 14px 0 0 0;
		
		& + .btn-cart {
			margin-top: 14px;
		}
	}
	
	&-product {
		font-family: $PRIMARY_FONT;
	}
	
	&-grandTotal {
		font-size: 18px;
		float: right;
		text-align: right;
	}
	
	&-quantity {
		text-transform: none;
	}
	
	&-removeItem {
		cursor: pointer;
		display: block;
		position: relative;
		float: right;
		width: 20px;
		height: 20px;
		transition: opacity $ANIM_SPEED;
		
		& > img {
			display: block;
			position: relative;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
		
		&:hover {
			opacity: .8;
		}
	}
	
}