// The markup for WooCommerce checkout form fields cannot be edited via templates so
// we have to do some funky stuff to override the styles of the default form fields.
.Checkout {
	padding: 50px 15px;
	@include fontSize(16px);
	
	&-title {
		color: $PRIMARY_COLOR;
		margin: 30px 0 15px;
		@include fontSize(24px);
		
		& + .form-group {
			margin: 0;
			padding: 0;
			
			p:last-of-type {
				margin: 0;
			}
		}
	}
	
	h2.woocommerce-notice {
		color: $ACCENT_COLOR;
		margin: 2rem 0 1rem 0;
		@include fontSize(22px);
	}
	
	.woocommerce-column {
		padding: 0;
		width: 100%;
		max-width: 100%;
	}
	
	.woocommerce-order-details {
		margin: 2rem 0 0 0;
	}
	
	&-toggle {
		padding: 30px 0;
		text-align: center;
	}

	p.form-row.enable-auto-recharge {
		& > label {
			display: inline-block;
			white-space: nowrap;
			width: auto;
			
			& > input {
				width: auto;
			}
		}
	}
	
	p.form-row {
		box-sizing: border-box;
		display: block;
		width: 100%;
		
		& > label {
			color: $BLACK;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			padding: 0;
			width: 40%;
			
			@include media-breakpoint-up(md) {
				width: 25%;
			}
			
			& > .required {
				color: red;
				cursor: default;
				text-decoration: none;
			}
		}
		
		input,
		textarea,
		select {
			border: 1px solid rgba(0,0,0,.15);
			border-radius: .25rem;
			color: $BLACK;
			display: inline-block;
			padding: 4px 10px;
			vertical-align: middle;
			width: 60%;
			
			@include media-breakpoint-up(md) {
				width: 75%;
			}
		}

		input.error {
			border-color: $RED_RIBBON;
		}
		
		// Validation erorr message
		input.error + em {
			float: right;
			font-style: normal;
			color: $RED_RIBBON;
		}
		
		#order_comments_field {
			& > label {
				vertical-align: top;
			}
			& > textarea {
				vertical-align: top;
			}
		}
		
		& > select {
			padding: 6px 10px;
		}
		
		& > input#billing_address_2,
		& > input#shipping_address_2 {
			margin-left: 40%;
			
			@include media-breakpoint-up(md) {
				margin-left: 25%;
			}
		}
	}
	
	&-same {
		padding: 40px 0 0 0;
		text-align: center;
		@include fontSize(20px);
	}
	
	&-review {
		box-sizing: border-box;
		
		@include media-breakpoint-up(lg) {
			padding-left: 50px !important;
		}
	}
	
	.table {
		border: 1px solid #ECEEEF;
		margin-bottom: 50px;

		thead {
			background-color: $PRIMARY_COLOR;
			color: $WHITE;
			text-transform: uppercase;
			
			th {
				border: 0;
				font-weight: 100;
			}
		}
		
		tfoot {
			background-color: #ECEEEF;
			
			th,
			td,
			th + td {
				border-bottom: 1px solid $WHITE;
				veritcal-align: middle;
				
				ul,
				li {
					list-style-type: none;
					margin: 0;
					padding: 0;
					white-space: nowrap;
				}
			}
		}
		
		tr.order-total {
			background-color: lighten($PRIMARY_COLOR, 35%);
		}
	}
	
	&-coupon {
		margin-left: .75rem;
		text-align: left;
		vertical-align: top;
		
		@include media-breakpoint-up(lg) {
			margin-left: 0;
		}	
		
		.form-control {
			margin: 0 10px 0 0;
			max-width: 100%;
		}
		
		.Button {
			margin-top: 10px;
			
			@include media-breakpoint-up(md) {
				margin-top: 0;
			}
		}
	}	
	
	h3#ship-to-different-address {
		display: none;
		visibility: hidden;
	}
}
