.CountrySearch {
	margin: 1rem auto;
	padding: 0;

	& > h2 {
		margin: 20px 0 0 0;
		@include fontSize(28px);
	}
	
	&-form {
		display: flex;
		margin: 1rem auto 1.5rem;
		padding: 0;
		width: 60%;
		
		& > input {
			border: 1px solid #CCC;
			border-right: 0;
			box-sizing: border-box;
			padding: 0 15px;
			text-transform: uppercase;
			width: 100%;
			@include fontSize(16px);
		}
		
		& > button {
			background-color: $PRIMARY_COLOR;
			border: 1px solid $PRIMARY_COLOR;
			box-sizing: border-box;
			color: #FFF;
			cursor: pointer;
			padding: 10px 15px 6px;
			text-transform: uppercase;
			@include fontSize(16px);
			
			& > svg {
				width: 22px;
				height: 22px;
				fill: $WHITE;
			}

			&:hover {
				background-color: $WHITE;
				border: 1px solid $PRIMARY_COLOR;

				& > svg {
					fill: $PRIMARY_COLOR;
				}
			}
		}
	}
	
	&-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		@include fontSize(22px);
		
		& > li {
			border-top: 1px solid $SILVER;
			color: $DOVEGRAY;
			padding: 10px 0;
			@include fontSize(18px);
			
			&:first-child {
				border-top: 0;
				padding-top: 0;
				
				&::before {
					background-color: $PRIMARY_COLOR;
					box-sizing: border-box;
					color: $WHITE;
					content: 'Country';
					display: block;
					margin-bottom: 10px;
					padding: 10px 0;
					width: 100%;
					@include fontSize(22px);
				}
			}
		}
	}
}