.CoverageMap {
	overflow: hidden;
	padding: 4rem 0;
	color: $PRIMARY_COLOR;
	font-family: $PRIMARY_FONT;
	font-size: convertPxToRem(25px);
	text-align: center;

	&-img {
		max-width: 100%;
	}

	@include media-breakpoint-up(lg) {
		font-size: convertPxToRem(28px);

		&-copy {
			float: right;
			margin-top: 2rem;
			text-align: right;
		}

		&-img {
			float: left;
			width: 75%;
			margin-left: -100px;
		}

		.Button {
			float: right;
			clear: right;
		}
	}
}