.Coverage {
	
	&-hero {
		background-image: url('../images/coverage-bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		color: $WHITE;
		padding: 40px 0;
		text-align: center;
		
		h1 {
			color: $WHITE;
			@include fontSize(44px);
		}
		
		h2 {
			color: $WHITE;
			margin-bottom: 20px;
			@include fontSize(20px);
		}
		
		@include media-breakpoint-up(lg) {
			text-align: left;
		}
	}
	
	&-intro {
		border: 0;
		padding: 20px 0 30px 0;
		
		@include media-breakpoint-up(lg) {
			border-left: 1px solid $WHITE;
			padding: 0 0 30px 80px;
		}
		
		h3 {
			color: $WHITE;
			margin: 0;
			padding: 30px 0 0 0;
			@include fontSize(30px);
			
			img {
				margin-right: 10px;
			}
		}
		
		p {
			margin: 0;
		}
	}
	
	&-iframe {
		margin: 50px auto;
		width: 100%;
		height: 680px;
		
		iframe {
			border: 0;
		}
	}
	
}