.Error404 {
	color: $PRIMARY_COLOR;
	margin: 0 auto;
	padding: 60px 20px;
	text-align: center;
	
	h1 {
		color: $PRIMARY_COLOR;
		margin: 20px auto 0;
		
		@include media-breakpoint-up(md) {
			margin: 50px auto 0;
			@include fontSize(45px);
		}
	}
	
	p {
		margin: 0 auto 20px;
		@include fontSize(18px);
		
		@include media-breakpoint-up(md) {
			margin: 0 auto 50px;
		}
	}
	
	img {
		max-width: 100%;
		
		@include media-breakpoint-up(md) {
			max-width: 640px;
		}
	}
	
}