.FaqSingle {
	background: #EDF7F3;
	padding: 40px 0;
	
	&-title {
		color: $BLACK;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		@include fontSize(40px);
	}
	
	&-question {
		background: $PRIMARY_COLOR;
		color: $WHITE;
		margin: 0;
		padding: 1rem;
		text-align: center;
		text-transform: uppercase;
		@include fontSize(28px);
	}
	
	h1 + &-question,
	&-answer + &-question {
		margin: 40px 0 0 0;
	}
	
	&-content {
		margin: 0 auto;
		width: 100%;
		
		@include media-breakpoint-up(md) {
			width: 70%;
		}
	}
	
	&-answer {
		background: $WHITE;
		padding: 2rem;
	}	
	
}