.FAQ {
	margin-bottom: 2rem;
	color: $DOVEGRAY;

	&-tabs {
		width: 100%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		list-style-type: none;
		text-transform: uppercase;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		border: 1px solid $ALTO;
	}

	.FAQ-tabLink {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 50px;
		position: relative;
		border-radius: 0;
		background: $PRIMARY_COLOR_LIGHT;
		border: none;
		border-top: 1px solid $ALTO;
		color: $PRIMARY_COLOR;
		cursor: pointer;
		line-height: 100%;
		text-align: center;
		@include fontSize(14px);

		&:first-child {
			border-top: none;
		}
		
		&.active {
			background: $PRIMARY_COLOR;
			color: $WHITE;
			z-index: 1;
			
			&::before {
				content: '';
				position: absolute;
				bottom: -12px;
				left: 49%;
				margin: 0 0 0 -10px;
				@extend %ARROW;
			}
		}
		
		
		
	}

	table {
		width: 100%;
	}

	td {
		padding: .5rem;
	}

	.arconix-faq-term-title {
		display: none;
	}

	.arconix-faq-title {
		cursor: pointer;
		position: relative;
		padding-right: 2rem;
		@include fontSize(18px);
		color: $PRIMARY_COLOR;
		background: transparent !important;

		&::after {
			content: '';
			position: absolute;
			top: 10px;
			right: 0;
			@extend %ARROW;
			transform: scale(.65) rotate(180deg);
		}
	}

	.arconix-faq-title {
		padding: 0;
		
		&::after {
			transform: scale(.65);
		}
	}
	
	.arconix-faq-content {
		margin: 0;
		padding: 20px 0 0 0;
		
		ol li,
		ul li {
			margin-bottom: 15px;
		}
	}

	.arconix-faq-wrap {
		margin: 0;
		padding: 20px 30px;
		border-radius: 0;
		border-top: 0;
		background-color: $WHITE;
	}

	@include media-breakpoint-up(lg) {
		&-tabs {
			flex-direction: row;
			justify-content: space-around;

		}

		.FAQ-tabLink {
			border: none;
			border-left: 1px solid $ALTO;

			&:first-child {
				border-left: none;
			}
		}
		
	}
}

.faq--center-box {
	background: #ebebeb !important;

	.PageTitle {
		padding: 50px 0;
	}

	.PageTitle h2 {
		text-align: center;
		
	}

	.FAQ-content {
		border-top: 1px solid $ALTO;

		a {
			color: $ACCENT_COLOR;
		}
	}
}