.Features {
	color: $DOVEGRAY;
	position: relative;
	
	.container-fluid {
		z-index: 1;
	}
	
	p {
		@include fontSize(16px);
	}
	
	&-title {
		margin: 0;
		padding: 30px 15px 15px 15px;
		@include fontSize(28px);
		
		@include media-breakpoint-up(md) {
			padding: 30px 0 20px 30px;
		}
		
		@include media-breakpoint-up(lg) {
			@include fontSize(34px);
		}
	}
	
	&-menu {
		background-color: $RUM_SWIZZLE;
		border: 0;
		color: $PRIMARY_COLOR;
		@include fontSize(28px);
		margin: 0;
		padding: 0;
		
		@include media-breakpoint-up(md) {
			border-right: 1px solid $PRIMARY_COLOR;
		}
		
		sup {
			@include fontSize(14px);
			top: -1em;
		}
	}
	
	&-links {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			box-sizing: border-box;
			padding: 5px 15px;
			width: 100%;
			
			a {
				color: $PRIMARY_COLOR;
				@include fontSize(18px);
				text-decoration: none;
				
				@include media-breakpoint-up(lg) {
					@include fontSize(24px);
				}
			}
		
			@include media-breakpoint-up(md) {
				padding: 5px 30px;
			}
		}
		
		.current-menu-item {
			background-color: $PRIMARY_COLOR;
			
			a {
				color: $WHITE;
			}
		}
	}
	
	&-image {
		display: block;
		max-width: 100%;
		margin-bottom: 2rem;
	}
	
	&-content {
		background-color: $WHITE;
		padding: 15px;
		
		h1 {
			margin: 0 0 1rem 0;
			@include fontSize(36px);
			
			sup {
				@include fontSize(14px);
				top: -1.5em;
			}
		}
		
		h1, h2, h3, h4, h5, h6 {
			color: $PRIMARY_COLOR;
		}
		
		h3 {
			padding-top: 10px;
			@include fontSize(28px);
		}
		
		@include media-breakpoint-up(md) {
			padding: 30px 15px 30px 30px;
		}
	}
	
	&-table {
		margin: 2rem 0;
		text-align: center;
		
		h2 {
			margin-bottom: 2rem;
			@include fontSize(28px);
		}
		
		.row {
			border-bottom: 1px solid $SILVER;
			padding: 10px 0;
		}
		
		.col-4 {
			@include fontSize(16px);
		}
		
		.container-fluid {
			padding: 0;
			
			@include media-breakpoint-up(lg) {
				padding: 0 15px;
			}
		}
	}
	
	&-tableHeading {
		background-color: $PRIMARY_COLOR;
		color: $WHITE;
		font-family: $HEADING_FONT;
		padding: 10px 0;
		
		.col-4 {
			@include fontSize(18px);
			word-wrap: break-word;
		}
		
		small {
			display: block;
			font-size: 60%;
			width: 100%;
		}
		
		@include media-breakpoint-up(md) {
			.col-4 {
				@include fontSize(20px);
			}
		}
	}
	
	&-rates {
		margin: 2rem 0 0 0;
		text-align: center;
		
		h3 {
			font-weight: bold;
			@include fontSize(22px);
		}
		
		h4 {
			color: $DOVEGRAY;
			margin: 0 0 15px 0;
			vertical-align: middle;
			@include fontSize(18px);
		}
	}
	
	&-highlight {
		background: $ACCENT_COLOR;
		color: $WHITE;
		font-family: $HEADING_FONT;
		line-height: 130%;
		font-style: italic;
		margin: 0 0 1rem 0;
		padding: 5px 0;
		@include fontSize(16px);
	}
	
	&-footer {
		margin: 1rem 0 2rem;
		text-align: center;
		
		h2 {
			font-weight: 400;
			@include fontSize(26px);
			padding: 20px 0 10px;
		}
	}
	
	&-bg {
		background-color: $RUM_SWIZZLE;
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		z-index: 0;
	}
	
	&-asterisk {
		margin-top: 20px;
	}
}