.Footer {
  padding: 3rem 0;
  color: $PRIMARY_COLOR;
  @include fontSize(16px);
  .container-fluid {
    padding: 0 20px;
  }
  &-nav {
    a {
      display: block;
      color: $PRIMARY_COLOR;
      margin: .25rem 0;
    }
    @include media-breakpoint-up(lg) {
      a {
        margin: 1rem 0;
      }
    }
  }
  &-comm {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    @include media-breakpoint-up(lg) {
      display: block;
      text-align: right;
    }
  }
  &-info {
    margin-top: 2rem;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
  &-design {
    color: lighten($BLACK, 60%);
  }
}
