.Header {
  background: rgba(255, 255, 255, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @include media-breakpoint-up(lg) {
    background: rgba(255, 255, 255, 0.85);
  }
}
