.Hero {
	background-color: $PRIMARY_COLOR;
	background-position: center bottom;
	background-repeat: repeat no-repeat;
	color: $WHITE;
	overflow: hidden;
	position: relative;
	text-align: center;

	img {
		max-width: 100%;
	}
	
	&-imgLarge {
		display: none;
	}

	& > a {
		display: block;
	}

	@include media-breakpoint-up(lg) {
		padding: 0;

		&-imgSmall {
			display: none;
		}

		&-imgLarge {
			display: inline;
		}
	}
}

.Hero.Hero--homepage {
	background-color: $PRIMARY_COLOR;
	background-position: center bottom;
	background-repeat: repeat no-repeat;
	color: $WHITE;
	overflow: hidden;
	position: relative;
	text-align: center;

	img {
		max-width: 100%;
	}
	
	.Hero-imgLarge {
		display: none;
	}

	& > a {
		display: block;
	}

	@include media-breakpoint-up(lg) {
		padding: 0;

		.Hero-imgSmall {
			display: none;
		}

		.Hero-imgLarge {
			display: inline;
		}
	}
}

.Hero.Hero--multimonth {
	position: relative;
	padding: 3rem 2rem;
	background-image: url('../images/img-multi-month-brand-refresh.png');
	background-position: 80%;
	background-size: auto;
	text-align: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($PRIMARY_COLOR, .5);
	}

	@include media-breakpoint-up(lg) {
		padding: 10rem 2rem 18rem;
		background-size: cover;

		&::before {
			content: none;
		}

		h1 {
			float: left;
			border-bottom: 1px solid $PRIMARY_COLOR;
			line-height: 1.25;
		}

		h2 {
			line-height: 1.5;
			float: left;
		}
	}
	
	h1 {
		color: $WHITE;
		font-family: $PRIMARY_FONT;
		font-size: convertPxToRem(50px);
	}

	h2 {
		color: $WHITE;
		font-family: $PRIMARY_FONT;
		font-size: convertPxToRem(35px);
	}
}

.Hero.Hero--monthlyPlans {
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../images/img-plans-banner.jpg');

	h1 {
		margin-top: 0;
		color: $WHITE;
		font-size: convertPxToRem(50px);
		text-align: center;
	}

	@include media-breakpoint-up(md) {
		margin-bottom: -138px;

		h1 {
			margin-top: -4rem;
			font-size: convertPxToRem(65px);
		}
	}
}

.Hero.Hero--addOns {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 280px;
	background-color: $PRIMARY_COLOR;

	h1 {
		color: $WHITE;
		text-align: center;
	}
	
}

.Hero.Hero--faq {
	background-image: url('../images/faq-hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
	padding: 140px 0;
	
	.Hero-content {
		text-align: center;
		
		h1 {
			margin: 0 0 30px 0;
		}
		
		form {
			display: block;
			max-width: 100%;
			margin: 0 auto;
			
			@include media-breakpoint-up(lg) {
				max-width: 60%;
			}
			
			input[type=text] {
				border-radius: .5rem 0 0 .5rem;
			}
		}
	}
}

.Hero.Hero--ios {
	background-image: url('../images/hero-bg-ios2.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;	

	.Hero-imgLarge {
		max-width: 700px;
		max-height: 500px;
		margin: 0% auto;
	}
}

.Hero.Hero--rateChecker {
	background-image: url('../images/rate-checker-hero.png');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	padding: 140px 0;
	text-align: center;
	
	h1 {
		color: $WHITE;
		margin-bottom: 20px;
		@include fontSize(46px);
	}
	
	h2 {
		color: $WHITE;
		font-weight: 100;
		@include fontSize(26px);
	}
}

.Hero.Hero--unlimitedDest {
	background-image: url('../images/unlt-intl-hero.png');
	background-size: cover;
	background-position: right top;
	background-repeat: no-repeat;
	padding: 60px 0;
	text-align: left;
	
	@include media-breakpoint-up(md) {
		padding: 100px 0;
	}
	
	@include media-breakpoint-up(lg) {
		padding: 140px 0;
	}
	
	h1, h2 {
		color: $WHITE;
	}
	
	h1 {
		font-weight: 100;
		text-align: center;
		@include fontSize(44px);
		
		br {
			display: none;
		}
		
		@include media-breakpoint-up(lg) {
			@include fontSize(72px);
			text-align: left;
		
			br {
				display: block;
			}
		}
	}
	
	h2 {
		font-weight: 500;
		text-align: center;
		@include fontSize(28px);
		
		@include media-breakpoint-up(lg) {
			@include fontSize(36px);
			text-align: left;
		}
	}
	
	.row {
		height: 4px;
		margin: 20px 0;
	}
	
	.col-4 {
		background: #0495CA;
		height: 4px;
		
		&:nth-child(2) {
			background: #E43F9B;
		}
		
		&:nth-child(3) {
			background: #829140;
		}
	}
}