.Icon {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}

.Icon--delete {
	display: inline-block;
	width: 16px;
	height: 16px;
	fill: $WHITE;
	position: absolute;
	top: 2px;
	right: 1px;
}

.Icon--success {
	width: 18px;
	height: 18px;
	vertical-align: text-bottom;
	display: inline-block;
	margin-right: 5px;
}

.Icon--fail {
	width: 18px;
	height: 18px;
	vertical-align: text-bottom;
	display: inline-block;
	margin-right: 5px;
}