.IntlProvider {
	@extend %GRADIENT;
	padding-top: 8rem;
	padding-bottom: 4rem;
	color: $PRIMARY_COLOR;

	h1 {
		font-family: $PRIMARY_FONT;
		color: $PRIMARY_COLOR;
		@include fontSize(40px);
	}

	img {
		max-width: 100%;
	}

	&-includeList {
		line-height: 1;
		text-align: center;
		font-size: 1rem;

		@include media-breakpoint-up(lg) {
			text-align: left;

			img {
				float: left;
				vertical-align: middle;
			}
		}

	}

	&-includeListTitle {
		margin: 2rem auto 1rem;
		padding-bottom: .5rem;
		width: 100%;
		border-bottom: 1px solid $PRIMARY_COLOR;
		text-align: center;

		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}

	}

	&-includeListCopy {
		display: block;
		margin: .5rem auto 2rem;

		@include media-breakpoint-up(lg) {
			display: inline-block;
			margin: .5rem 0 0 .5rem;
		}

	}

}