.panel--standard {
    padding-bottom: 50px;

    &.panel--dark {
        background: $PRIMARY_COLOR;
        h2 {
            color: $WHITE;
        }

        small {
            color: $WHITE;
        }
    }

    &.panel--light {
        background: $WHITE;
        h2 {
            color: $PRIMARY_COLOR;
        }

        small {
            color: $DOVEGRAY;
        }
    }

    .PageTitle {
        padding: 50px 0;
        text-align: center;
        font-size: 1.5em;

        h2 {
            font-size: 3.125rem;
        }

        small {
            margin: 0px auto;
            display: block;
            width: 60%;
        }
    }

    .item {
        margin-bottom: 25px;
        h3 {
            color: $ACCENT_COLOR;
        }
        strong {
            color: $ACCENT_COLOR;
        }        
    }

    @media (max-width: 768px) {
        .PageTitle {
            h2 {
                font-size: 2.5rem;
            }
        }
    }

  
}

#ios-details {
    
    .item {
        text-align: center;
        padding: 0 25px 0 25px;

        img {
            display: block;
            margin: 0px auto 25px auto;
        }
        h3 {
            text-transform: uppercase;
            font-size: 1.25rem;
        }

    }

    @media (max-width: 768px) {

        .PageTitle {
            small {
                width: 80%;
            }
        }

    }      
}

.Hero--ios {
    .PageTitle {
        margin: 0px auto;
        h1 {
            font-size: 3.125em;
            color: $WHITE;
            text-align: center;
            padding-top: 75px;
            padding-bottom: 75px;
        }
    }

    @media (max-width: 768px) {

        .PageTitle {
            h1 {
                font-size: 2.5em;
                width: 100%;
                padding-top: 50px;
                padding-bottom: 25px;
            }
        }

    }      

}

#ios-what {
    background-image: url(../images/ios-bg-wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .PageTitle {
        small {
            width: 50%;
        }
    }

    .icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;    
        background-size: 60px 60px;   
        margin-left: 25px;
    }

    #ios-voicemail {
        .icon {
            background-image: url(../images/ios-what-voicemail.png);
        }
    }
    #ios-wifi {
        .icon {
            background-image: url(../images/ios-what-wifi.png);
        }
    }
    #ios-volte {
        .icon {
            background-image: url(../images/ios-what-volte.png);
        }
    }
}

#ios-how {



    .PageTitle {
        small {
            width: 50%;
            font-size: 100%;
        }
    }

    .item {
        padding: 0 40px 0 40px;
        .header-box {
            padding: 25px 25px 15px 25px;
            margin: 0px;
            background: #ebebeb;
            
            h3 {    
                text-align: center;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
        }
        ul {
            background: $WHITE;
            padding: 25px;
            margin: 0px;
            color: $STEELWOOL;

            li {
                margin: 0 25px 5px 25px;
            }
            min-height: 280px;
        }

    }

    @media (max-width: 768px) {

        .PageTitle {
            small {
                width: 80%;
            }
        }

    }      
}

#ios-what {
    @media (max-width: 768px) {
        .row {
            &.row-content {
                margin-bottom: 25px; 
            }
        }

        .item {
            &.item-head {
                flex-direction: column;
            }

            &.item-content {
                text-align: center;
            }
        }

        .icon {
            margin-left: 0px;
        }

        .PageTitle {
            small {
                width: 80%;
            }
        }

    }

    .row-content {
        margin: 0 0 10px 0;
    }
    .item {
        padding: 30px;
        margin-bottom: 0px;
        &.item-head {
            background: $WHITE;
            display: flex;
            align-items: center;


            h3 {
                text-align: middle;
                font-size: 1.4rem;
                text-transform: uppercase;
                padding: 15px 15px 0 15px;
            }
        }
        &.item-content {
            background: $PRIMARY_COLOR;
            color: $WHITE;
        }
    }
}