.Legal {
	@extend %DEFAULT_BODY_STYLE;

	color: $STEELWOOL;
	padding: 0 0 50px 0;
	max-width: 100%;
	@include fontSize(16px);
	
	&-header {
		background: $PRIMARY_COLOR;
		color: $WHITE;
		text-align: center;
		margin-bottom: 50px;
		padding: 40px 0;
		
		@include media-breakpoint-up(lg) {
			padding: 100px 0;
		}
		
		h1 {
			color: $WHITE;
			margin: 0;
			@include fontSize(32px);
			
			@include media-breakpoint-up(lg) {
				@include fontSize(42px);
			}
		}
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
		margin: 40px 0 20px;
	}
	
	p, li {
		margin: 0 0 1.25rem 0;
		padding: 0;
	}
	
	strong {
		font-weight: bold;
	}
	
	ol, ul {
		margin: 1.25rem 0 0 0;
		padding: 0 0 0 1.25rem;
	}
	
	@include media-breakpoint-up(md) {
		.container-fluid {
			max-width: 80%;
		}
	}
	
	@include media-breakpoint-up(lg) {
		.container-fluid {
			max-width: 60%;
		}
	}
}