.LoadingModal {
	background: rgba(255,255,255,.85);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	
	&-content {
		color: $PRIMARY_COLOR;
		font-size: 20px;
		font-weight: normal;
		position: absolute;
		top: 45%;
		transform: translateY(-300%);
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		
		& > p {
			text-shadow: rgba(0,0,0,.25);
		}
	}
	
	&-animation {
		position: absolute;
		top: 44%;
		left: 50%;
		transform: translate(-50%, -45%);
		width: 160px;
	}
}