.MonthlyPlans {
  &-plans {
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-up(md) {
      padding: 1.9rem 0;
    }
  }
  .card {
    margin: 0 10px 20px;
    color: $PRIMARY_COLOR;
    font-family: $PRIMARY_FONT;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.376);
  }
  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/img-premium-quality-bg.png) no-repeat left bottom;
    background-color: $PRIMARY_COLOR;
    background-size: cover;
    color: $WHITE;
    font-size: 1.5rem;
    &+p {
      margin-bottom: 0;
      padding: 0.5rem 0.25rem;
      background-color: $EAST_SIDE;
      color: $WHITE;
      font-size: 0.9rem;
      text-align: center;
    }
  }
  .card-block {
    text-align: center;
    .btn {
      text-transform: uppercase;
    }
  }
  .card-text>div {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    font-size: .9rem;
    line-height: 1;
    text-align: left;
  }
  .card-text>div:nth-child(1) {
    background: url(../images/icon-data-circle.png) no-repeat 1rem center;
  }
  .card-text>div:nth-child(2) {
    background: url(../images/icon-phone-circle.png) no-repeat 1rem center;
  }
  .card-text>div:nth-child(3) {
    background: url(../images/icon-globe-circle.png) no-repeat 1rem center;
  }
  &-destinations {
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-up(md) {
      padding: 2rem 0;
    }
    .card-header {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      justify-content: left;
      background: url(../images/img-premium-quality-bg.png) no-repeat left bottom;
      background-size: cover;
      font-size: 1.75rem;
      &+div {
        padding: 1rem;
        background-color: lighten($EAST_SIDE, 25%);
        color: darken($ACCENT_COLOR, 5%);
      }
    }
    .card-text {
      text-align: left;
      ul {
        list-style: none;
        -webkit-columns: 6 150px;
        -moz-columns: 6 150px;
        columns: 6 150px;
        -webkit-column-gap: 2em;
        -moz-column-gap: 2em;
        column-gap: 2em;
        line-height: 2;
      }
      li {
        @include fontSize(16px);
        white-space: nowrap;
      }
    }
  }
}
