$MULTIMONTH_FIRST_COLOR: #D15D22;
$MULTIMONTH_SECOND_COLOR: #D62F82;
$MULTIMONTH_THIRD_COLOR: #1AA1DA;

.MultiMonth {
	color: $PRIMARY_COLOR;
	text-align: center;

	@include media-breakpoint-up(md) {
		text-align: left;
	}
	
	h3 {
		font-family: $PRIMARY_FONT;
		font-weight: 400;
	}

	ul {
		list-style: none;
	}

	&-save {
		padding: 4rem 2rem 0;

		ul {
			padding-left: 0;
		}
	}

	&-saveCta {

		> p {
			display: none;
		}

		.Button {
			width: 200px;
		}

		@include media-breakpoint-up(md) {
			position: absolute;
			right: 0;
			bottom: 100px;
			text-align: right;

			.Button {
				width: auto;
			}

			> p {
				display: block;
				font-size: 1.25rem;
				font-family: $PRIMARY_FONT;
			}
		}
	}

	&-buy {
		padding: 0 0 4rem;

		h2 {
			margin: 2rem 0;
			@include fontSize(36px);
			text-align: center;

			@include media-breakpoint-up(md) {
				margin-top: 0;
				text-align: left;
			}
		}
	}

	&-months {
		font-family: $PRIMARY_FONT;
		color: $WHITE;

		.card {
			display: flex;
			flex-direction: column;
			min-height: 600px;

			> div {
				padding: 0;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}

			.btn {
				padding: .75rem;
				color: $WHITE;
				text-transform: uppercase;
				font-size: .75em;
				border-radius: 0;
				
				@include media-breakpoint-up(md) {
					font-size: 1em;
				}
			}
		}

		.card-header {
			background-color: transparent;
			border-color: transparent;

			> p {
				margin-bottom: 0;
				padding: .5rem;
			}
		}

		.card-block {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.card-text {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}

		> div:nth-child(1) {
			padding-right: 5px;

			.card {
				border-color: $MULTIMONTH_FIRST_COLOR;
			}
			
			.card-header > p,
			.card-block,
			.btn {
				background-color: $MULTIMONTH_FIRST_COLOR;
			}

			.card-header {
				flex-grow: 6;
			}
		}

		> div:nth-child(2) {
			padding-left: 5px;
			padding-right: 5px;

			.card {
				border-color: $MULTIMONTH_SECOND_COLOR;
			}
			
			.card-header > p,
			.card-block,
			.btn {
				background-color: $MULTIMONTH_SECOND_COLOR;
			}

			.card-header {
				flex-grow: 2;
			}
		}

		> div:nth-child(3) {
			padding-left: 5px;

			.card {
				border-color: $MULTIMONTH_THIRD_COLOR;

				em {
					margin-bottom: 1rem;
					color: $MULTIMONTH_THIRD_COLOR;
					font-style: normal;
					font-family: $PRIMARY_FONT;
					font-size: 1.25rem;
				}
			}
			
			.card-header > p,
			.card-block,
			.btn {
				background-color: $MULTIMONTH_THIRD_COLOR;
			}

			.card-header {
				flex-grow: 1;
			}
		}
	}

	&-month {
		@extend %CIRCLE_NUMBER;
	}

	&-best {
		position: relative;
		padding-top: 8rem;
		padding-bottom: 4rem;
		border-top: 4px solid rgba($BLACK, .15);

		h2 {
			text-align: center;
			font-size: convertPxToRem(40px);
		}

		h3 {
			text-align: center;
			font-size: convertPxToRem(24px);
		}
	}

	&-bestBubble {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 1rem auto 0;
		width: 245px;
		height: 232px;
		
		z-index: 1;
		background-image: url(../images/img-speech-bubble.png);
		background-repeat: no-repeat;
		background-color: $WHITE;
		text-align: center;
		text-indent: .5rem;
		
		@include media-breakpoint-up(md) {
			position: absolute;
			left: 38%;
		}

		> span {
			margin-top: 1.5rem;
			font-size: convertPxToRem(80px);
			line-height: 1;
		}
	}

	&-bestTable {
		margin: 2rem;

		> div {
			display: flex;
			padding-top: .5rem;
			padding-bottom: .5rem;
			align-items: center;
			text-align: left;
			border-bottom: 1px solid $PRIMARY_COLOR;
			
			> span {
				padding-left: 20%;
			}

			@include media-breakpoint-up(sm) {

				&:nth-child(2n) {
					text-align: right;
				}

				> span {
					padding-left: 0;
				}
			}

		}

		small {
			margin-right: 1rem;
			margin-left: 1rem;
			line-height: 1;
		}

		+ p {
			text-align: center;
			font-family: $PRIMARY_FONT;
		}
	}

	&-plans {
		$BORDER_HEIGHT: 20px;

		> hr {
			display: block;
			position: relative;
			border-top: $BORDER_HEIGHT solid $MULTIMONTH_SECOND_COLOR;

			&::before {
				content: '';
				width: 33.3%;
				position: absolute;
				left: 0;
				bottom: 0;
				height: $BORDER_HEIGHT;
				background-color: $MULTIMONTH_FIRST_COLOR;
			}

			&::after {
				content: '';
				width: 33.3%;
				position: absolute;
				right: 0;
				bottom: 0;
				height: $BORDER_HEIGHT;
				background-color: $MULTIMONTH_THIRD_COLOR;
			}
		}
	}

	&-plansPlan {
		margin-top: 2rem;
		text-align: center;
		color: $WHITE;

		> div {
			padding: 4rem 0 3rem;
		}

		> div:nth-child(1) {
			background-color: $MULTIMONTH_FIRST_COLOR;
		}

		> div:nth-child(2) {
			background-color: $MULTIMONTH_SECOND_COLOR;
		}

		> div:nth-child(3) {
			background-color: $MULTIMONTH_THIRD_COLOR;
		}

		p, 
		a {
			text-transform: uppercase;
		}
	}
}