$NAV_BG_COLOR: rgba(255,255,255,0.85);
$NAV_BORDER: 1px solid rgba(0,0,0,0.1);

.navbar {
	margin: 0 auto;
	padding: 5px 0;
	
	@include media-breakpoint-up(lg) {
		padding: 20px 0;
	}
}

.PrimaryNav {
	border-top: $NAV_BORDER;
	border-bottom: $NAV_BORDER;
	font-family: $NAV_FONT;
	font-weight: 200;
	@include fontSize(15px);
	
	.navbar-nav  {
		margin: 5px auto 0;
		
		&:first-child {
			border-top: $NAV_BORDER;
			
			@include media-breakpoint-up(lg) {
				border: 0;
			}
		}
		
		.nav-item {
			border-bottom: $NAV_BORDER;
			
			&:last-child {
				border-bottom: 0;
			}
			
			@include media-breakpoint-up(lg) {
				border: 0;
			}
		}
		
		.nav-link {
			color: $PRIMARY_COLOR;
			font-weight: normal;
			padding: 10px 0;
			
			@include media-breakpoint-up(lg) {
				padding: 0 12px;
			}
			
			@include media-breakpoint-up(xl) {
				padding: 0 20px;
			}
		}
		
		@include media-breakpoint-up(lg) {
			margin: 0 auto;
		}
	}
	
	.dropdown  {
		
		br {
			display: none;
			
			@include media-breakpoint-up(lg) {
				display: block;
			}
		}
		
		.dropdown-menu {
			background-color: transparent;
			border-top: 0;
			border-bottom: 0;
			border-right: 0;
			border-left: 0;
			border-radius: 0;
			align-items: flex-start;
			float: none;
			left: 0;
			right: 0;
			min-width: 0;
			margin: 0;
			padding: 0;
			width: 100%;
			flex-wrap: nowrap;
			justify-content: center;
			
			@include media-breakpoint-up(lg) {
				padding: 22px 0 20px 0;
			}
		}
		
		.dropdown-item {
			border-top: $NAV_BORDER;
			color: $PRIMARY_COLOR;
			display: inline-block;
			margin: 0;
			padding: 10px 0;
			width: 100%;
			
			&:active,
			&:hover {
				background-color: transparent;
			}
			
			img {
				display: none;
				
				@include media-breakpoint-up(lg) {
					display: block;
					margin: 0 auto 10px;
				}
			}
			
			@include fontSize(14px);
			
			@include media-breakpoint-up(lg) {
				border: 0;
				margin: 0 2rem;
				text-align: center;
				width: auto;
			}
		}
		
		&.show {
			position: static;
			
			@include media-breakpoint-up(lg) {
				.dropdown-menu {
					display: flex;

					&::before {
						content: '';
						width: 200%;
						height: 100%;
						position: absolute;
						top: 0;
						left: -50%;
						background-color: $NAV_BG_COLOR;
						border-top: $NAV_BORDER;
						border-bottom: $NAV_BORDER;
						z-index: -1;
					}
				}
			}
			
			.dropdown-toggle {
				&::after {
					transform: rotate(180deg);
				}
			}
		}
		
		.dropdown-toggle {
			&::after {
				border: 0;
				background: url('../images/icon-nav-arrow.png');
				width: 17px;
				height: 11px;
			}
		}
	}
	
	.navbar-toggler {
		top: .75rem;
		right: 0;
		padding: 0;
		
		span {
			background: gray;
			border-radius: 2px;
			display: block;
			margin: 5px 0;
			width: 24px;
			height: 3px;
		}
	}
	
	&-cta {
		display: none;
		font-weight: 400;
		padding: 0.5rem 1rem;
		line-height: inherit;
		white-space: nowrap;
		@include fontSize(15px);
		
		&:hover {
			text-decoration: none;
		}
		
		@include media-breakpoint-up(lg) {
			display: inline-block;
		}
	}
}

.SecondaryNav {
	background: rgba(255,255,255,0.75);
	font-family: $NAV_FONT;
	text-align: right;
	
	.navbar {
		padding: 0;
	}

	// override WPML default
	.wpml-ls-legacy-dropdown-click {
		width: auto;

		.wpml-ls-sub-menu a {
			min-width: 110px;
			text-align: center;
		}

		.wpml-ls-flag + span {
			@include fontSize(12px);
		}
	}

	
	ul {
		display: inline-block;
		
		& > li {
			display: inline-block;
			margin-left: 15px;
			
			& > span {
				@include fontSize(15px);
			}
			
			& > a {
				color: $PRIMARY_COLOR;
				display: inline-block;
				padding: .25em 1em;
				@include fontSize(15px);
				
				@include media-breakpoint-up(lg) {
					padding: .5em 1em;
				}
			}
		}
	}
}