.Order {
	padding: 50px 0 20px;
	@include fontSize(16px);
	
	h1 {
		padding: 0 0 15px 15px;
		margin: 0;
		
		@include media-breakpoint-up(lg) {
			padding: 0 0 15px 0;
		}
	}
	
	& > &-container {
		padding: 0;
		
		@include media-breakpoint-up(lg) {
			padding: 0 15px;
		}
	}
	
	.table {
		margin-bottom: 0;
		
		thead th {
			text-align: right;
		}
		
		thead th.Order-name {
			text-align: left;
		}
		
		tbody td {
			vertical-align: middle;
			
			&.Order-remove {
				padding: 0;
			}
			
			&.Order-quantity,
			&.Order-price,
			&.Order-subtotal {
				text-align: right;
			}
		}
	}
	
	&-name {
		a {
			color: $PRIMARY_COLOR;
			text-decoration: none;
			
			&:hover {
				color: $ACCENT_COLOR;
			}
		}
	}
	
	
	&-remove {
		font-size: 1.5rem;
		padding: 0;
		text-align: center;
		text-decoration: none;
		
		a {
			color: $ACCENT_COLOR;
			
			&:hover {
				color: $BLACK;
				text-decoration: none;
			}
		}
	}
	
	&-quantity {
		.form-group {
			float: right;
			margin: 0;
			max-width: 5.5rem;
		}
	}
	
	&-actions {
		border-top: 1px solid rgba(0,0,0,.05);
		padding: 1rem 0;
		margin-top: 0;
		margin-right: .75rem;
		text-align: right;
		
		@include media-breakpoint-up(lg) {
			margin-right: 0;
		}
	}
	
	&-coupon {
		margin-left: .75rem;
		text-align: left;
		vertical-align: top;
		
		@include media-breakpoint-up(lg) {
			margin-left: 0;
		}
		
		> a {
			color: $DUSTY_GRAY;
		}
		
		.form-control {
			margin: 0 10px 0 0;
			max-width: 100%;
		}
		
		.Button {
			margin-top: 10px;
			
			@include media-breakpoint-up(md) {
				margin-top: 0;
			}
		}
	}
	
	&-collaterals {
		padding-bottom: 65px;
		
		h2 {
			padding: 0 15px;
		}
		
		ul#shipping_method,
		ul#shipping_method li {
			list-style-type: none;
			margin: 0;
			padding: 0;

			label {
				display: inline; // prevent orphan label
			}
		}
		
		.table {
			border: 1px solid #ECEEEF;
			margin-bottom: 1rem;
			
			th {
				width: 40%;
			}
		}
		
		.shipping-calculator-form { 
			margin-top: 0.75rem; 
		} 
	}
}