.Payment {
	background: #EAEBED;
	padding: 20px;
	font-family: $PRIMARY_FONT;
	
	input,
	select {
		@include fontSize(16px);
	}
	
	&-title {
		margin-bottom: 15px;
		
		h3 {
			color: $PRIMARY_COLOR;
			margin: 0;
			padding: 0;
			@include fontSize(24px);
		}
	}
	
	&-badge {
		text-align: right;
	}
	
	label {
		padding: 0 10px 0 15px;
		line-height: 1.15;
		font-size: .95rem;
		
		& > span.required {
			color: $RED_RIBBON;
		}
		
		br {
			display: none;
		}
		
		img {
			padding-left: 18px;
		}		
		
		@include media-breakpoint-up(sm) {
			padding: 8px 0 0 15px;
			
			br {
				display: block;
			}
			
			img {
				padding-left: 0;
			}
		}
	}
	
	&-card {
		input {
			padding-right: 25px;
			padding-left: 42px;
		}
		label img {
			padding-left: 0;
		}
	}
	
	&-message {
		display: none;
		color: $RED_RIBBON;
		@include fontSize(14px);
	}
	
	&-expiration {
		padding-bottom: 25px;
	}
	
	&-select {
		.col-6:first-of-type {
			padding-right: 5px;
		}
		.col-6:last-of-type {
			padding-left: 5px;
		}
	}
	
	&-desc {
		color: $DUSTY_GRAY;
		padding-top: 6px;
		padding-bottom: 20px;
		line-height: 125%;
		
		@include media-breakpoint-up(sm) {
			padding-top: 10px;
		}
	}
	
	&-info {
		@include fontSize(14px);
		line-height: 125%;
		padding-left: 15px;
		
		@include media-breakpoint-up(sm) {
			padding-left: 0;
			padding-top: 10px;
		}
		
		@include media-breakpoint-up(lg) {
			padding-top: 0;
		}
	}
		
	img {
		max-width: 100%;
	}
	
	label.Payment-lock {
		position: absolute;
		top: 10px;
		right: 24px;
		margin: 0;
		padding: 0;
		line-height: 100%;
	}
	
	label.Payment-cc {
		position: absolute;
		top: 10px;
		left: 24px;
		margin: 0;
		padding: 0;
		line-height: 100%;
		width: 28px;
	}
	
	.error {
		input,
		select {
			border: 1px solid $RED_RIBBON;
		}
		.Payment-message {
			display: block;
		}
	}
	
	.Payment-type,
	.Payment-originalDesc,
	.Payment-originalTitle {
		display: none;
	}
}

body.woocommerce-checkout .tooltip {
	
	.tooltip-inner {
		color: #000;
		background-color: #FFF;
		border: 1px solid #999;
		padding: 10px 14px;
		text-align: left;
		
		&::before {
		    border-bottom-color: #777;
		}
		
	}
	
}

body.woocommerce-checkout {
	
	.input-radio {
		display: none;
		
		& + label {
			display: none;
		}
	}
	
	.payment_methods {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

.Payment.Payment--original {
	background: transparent;
	padding: 0;
	
	& > .row {
		padding-bottom: 10px;
	}
	
	.Payment-title,
	.Payment-cc,
	.Payment-lock,
	.Payment-desc,
	.Payment-info,
	.Payment-security img {
		display: none;
	}
	
	.Payment-card input {
		padding: 8px 12px;
	}
	
	.Payment-type {
		display: flex;
	}
	
	.Payment-originalDesc {
		display: block;
		padding-bottom: 15px;
	}
	
	.Payment-originalTitle {
		display: flex;
		margin-bottom: 0;
		padding-bottom: 15px;
		
		h3 {
			color: $PRIMARY_COLOR;
			margin: 0;
			padding: 0 0 0 15px;
			@include fontSize(24px);
		}
	}
}