.PlanDetails {
	@include fontSize(16px);
	color: $DUSTY_GRAY;
	padding: 70px 0 50px;
	
	p {
		margin: 6px 0;
		line-height: 130%;
		
		a {
			color: $DUSTY_GRAY;
			text-decoration: underline;
		}
	}
	
	&-name {
		border-bottom: 1px solid rgba(0,0,0,0.25);
		color: $BLACK;
		font-family: $PRIMARY_FONT;
		margin: 0 0 20px 0;
		padding: 0 0 20px 0;
		@include fontSize(24px);
		
		@include media-breakpoint-up(md) {
			@include fontSize(30px);
		}
	}
	
	&-meta {
		h3 {
			font-family: inherit;
		}
	}
	
	&-image {
		margin: 0 0 50px 0;
		text-align: center;
		
		img {
			max-width: 100%;
		}
	}
	
	&-price {
		color: $ACCENT_COLOR;
		@include fontSize(30px);
	}
	
	&-form {
		border-top: 1px solid rgba(0,0,0,0.25);
		display: block;
		margin: 25px 0 0 0;
		padding: 25px 0;
		white-space: nowrap;
	}
	
	&-input {
		
		div {
			@include fontSize(28px);
			color: $DOVEGRAY;
			display: inline-block;
			margin: 0 10px 0 0;
			vertical-align: middle;
			
			&:last-of-type {
				color: $PRIMARY_COLOR;
				display: block;
				margin: 4px 0 0 0;
				@include fontSize(32px);
				text-transform: inherit;
			}
			
			@include media-breakpoint-up(md) {
				@include fontSize(26px);
				
				&:last-of-type {
					display: inline-block;
					margin: 0 0 0 10%;
					@include fontSize(32px);
				}
			}
		}
		
		input {
			@include fontSize(18px);
			text-align: center;
			vertical-align: middle;
			width: 50px;
		}
	}
	
	&-disclaimer {
		box-sizing: border-box;
		display: block;
		margin-top: 20px;
		width: 100%;
		
		p {
			white-space: pre-wrap; /* css-3 */
			white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
			white-space: -pre-wrap; /* Opera 4-6 */
			white-space: -o-pre-wrap; /* Opera 7 */
			word-wrap: break-word; /* Internet Explorer 5.5+ */
		}
		
		strong {
			font-weight: 400;
			color: $PRIMARY_COLOR;
		}
	}
}