.PlansInclude {
	margin-top: 2rem;

	h2 {
		padding-bottom: .5rem;
		text-align: center;
		font-size: convertPxToRem(18px);
		text-transform: uppercase;
		border-bottom: 1px solid $PRIMARY_COLOR;
	}

	&-item {
		display: flex;
		margin: 1rem 0;
		padding-left: 2rem;
		align-items: center;
		text-align: left;
	}

	&-copy {
		margin-left: .5rem;
		line-height: 1;
	}
}