.PremiumQuality {
	padding: 55px 0;
	background-image: url(../images/img-premium-quality-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: $PRIMARY_FONT;
	font-size: convertPxToRem(18px);
	color: $WHITE;

	h2 {
		padding-bottom: 2rem;
		font-family: $PRIMARY_FONT;
		font-weight: 100;
		font-size: convertPxToRem(26px);
		color: $WHITE;
		border-bottom: 1px solid $WHITE;
		line-height: 1.5;

		@include media-breakpoint-up(lg) {
			border-right: 1px solid $WHITE;
			border-bottom: none;
			padding: 0 3rem;
		}
	}

	&-copy::before {
		content: '';
		display: block;
		position: absolute;
		width: 63px;
		height: 63px;
		margin: -5px 0 0 -70px;
		background: url(../images/icon-checkmark.png) no-repeat;
	}
}