.Price {
	sup {
		position: relative;
		top: -0.75em;
		left: 0;
		font-size: .5em;
	}
}

.Hero.Hero--homepage .Price {
	font-family: $PRIMARY_FONT;
	font-weight: 500;
	line-height: 90%;
	@include fontSize(180px);
	
	@include media-breakpoint-up(lg) {
		padding-left: 1.5rem !important;
	}

	sup {
		font-family: $PRIMARY_FONT;
		font-weight: 100;
	}
}

.MultiMonth-bestTable .Price {
	font-size: 2rem;
	vertical-align: middle;
}

.MonthlyPlans .card-header .Price {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
	border: 1px solid $WHITE;
	border-radius: 50%;
	font-size: 2.5rem;
	padding: 21px 13px 15px;
}