.Promotion {
	margin-top: convertPxToRem(10px);
	font-family: $PRIMARY_FONT;
	font-weight: 100;
	color: $WHITE;
	
	h3 {
		font-family: $PRIMARY_FONT;
		font-weight: normal;
		color: $WHITE;
		font-size: convertPxToRem(24px);

		& > span {
			font-weight: 400;
			vertical-align: middle;
			font-size: 2rem;
			
			sup {
				font-size: 70%;
			}
		}
	}

	&-item {
		margin: 0 2px;
		padding: 4rem 3rem 3rem !important;
		background-color: $PRIMARY_COLOR;
		overflow: hidden;

		ul {
			font-size: .9rem;
			padding: 20px 0 20px 20px;
		}
	}

	&-banner {
		position: absolute;
		top: 10px;
		right: -120px;
		width: 360px;
		padding: 10px 0;
		transform: rotate(35deg);
		background-color: $ACCENT_COLOR;
		color: $WHITE;
		font-size: convertPxToRem(16px);
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

	&-item:nth-child(1) {
		border-bottom: 10px solid rgb(239,102,47);
	}

	&-item:nth-child(2) {
		border-bottom: 10px solid 10px solid rgb(209,5,126);
	}
	
	&-item:nth-child(3) {
		border-bottom: 10px solid 10px solid 10px solid rgb(0,153,204);
	}
}