.SearchResult {
	color: $DOVEGRAY;
	
	h1 {
		margin: 50px 0 30px;
		@include fontSize(30px);
		
		span {
			font-weight: bold;
		}
	}

	.card {
		border-radius: 0;
	}
	
	.card-block {
		padding: 0 25px 20px 25px
	}

	&-cardHeader {
		padding: 0;
		background-color: $WHITE;
		border-bottom: none;
	}

	&-cardHeaderLink {
		color: $PRIMARY_COLOR;
		display: block;
		margin-right: 3rem;
		padding: 1.5rem;
		text-decoration: none;
		
		&:hover {
			text-decoration: none;
		}

		&::after {
			content: '';
			position: absolute;
			top: 1.5rem;
			right: 1.5rem;
			@extend %ARROW;
			transform: scale(.65);
		}
	}

	&-cardHeaderLink.collapsed {
		&::after {
			transform: scale(.65) rotate(180deg);
		}
	}
}