.Share {
	margin: 1em 0;

	display: flex;
	justify-content: space-around;

	> a {
		margin-left: 2em;
	}

	svg {
		fill: $PRIMARY_COLOR;
		width: 2rem;
		height: 2rem;
	}

	@include media-breakpoint-up(lg) {
		justify-content: flex-end;

		svg {
			width: 1.75rem;
			height: 1.75rem;
		}
	}
}

.Footer .Share {
	order: 2;

	@include media-breakpoint-up(lg) {
		margin-top: 3rem;
	}
}