.ShopPhones {
	position: relative;
	color: $WHITE;

	h2 {
		color: $WHITE;
		font-family: $PRIMARY_FONT;
	}

	&-item {
		max-height: 575px;
		padding: 120px 0 45%;
		

		> p {
			font-family: $PRIMARY_FONT;
			font-size: 1rem;
			font-weight: 100;
		}

		a {
			color: $WHITE;
			text-decoration: none;
		}
	}

	&-itemWrapper {
		> div {
			background-size: cover;
			background-repeat: no-repeat;
			text-align: center;
		}

		> div:nth-child(1) {
			background-image: url(../images/img-shop-phones-refresh.png);

			.ShopPhones-item {

				@include media-breakpoint-up(lg) {
					padding-right: 4rem;
					text-align: right;
					
					.Button {
						display: none;
					}
				}

			}
		} 

		> div:nth-child(2) {
			background-image: url(../images/img-bring-your-own-update.png);

			.ShopPhones-item {

				@include media-breakpoint-up(lg) {
					padding-left: 4rem;
					text-align: left;

					.Button {
						position: relative;
						left: -135px;
					}
				}

			}
		}
	}


	&-divider {
		position: absolute;
		left: 45%;
    	top: -30px;
		display: block;
		width: 60px;
		height: 60px;
		padding: convertPxToRem(10px);
		border-radius: 50%;
		background-color: $WHITE;
		color: $BLACK;
		font-size: 1.75rem;

		@include media-breakpoint-up(lg) {
			top: 100px;
			left: -28px;
		}
	}

}