.SMSOfferForm {
	width: 100%;
	margin: 0 auto;
	padding: 3rem 0 0 0;
	
	@include media-breakpoint-up(md) {
		width: 85%;
	}
	
	@include media-breakpoint-up(lg) {
		width: 50%;
	}
	
	label > span {
		display: none;
		font-size: 85%;
		font-weight: bold;
		margin-left: 0;
		
		@include media-breakpoint-up(xl) {
			margin-left: 20px;
		}
		
		&.success {
			color: #00A100;
			display: inline-block;
		}
		
		&.fail {
			color: #A10000;
			display: inline-block;
		}
	}
	
	& ~ .modal .modal-title {
		font-weight: bold;
	}
	
	&-header {
		background: $WHITE;
		color: $PRIMARY_COLOR;
		padding: 15px 10px;
		text-align: center;
	}
}