.Support {
	
	&-hero {
		background-image: url('../images/support-bg.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 140px 20px;
		
		h1 {
			color: $WHITE;
			margin-bottom: 15px;
			@include fontSize(46px);
		}
		
		h2 {
			color: $WHITE;
			@include fontSize(32px);
		}
	}
	
	&-intro {
		color: $PRIMARY_COLOR;
		padding: 50px 20px;
		text-align: center;
		@include fontSize(24px);
	}
	
	&-content {
		background: $RINKSIDE;
		padding: 50px 0;
		
		.col-12:first-of-type {
			margin-bottom: 50px;
		}
		
		@include media-breakpoint-up(lg) {
			.col-12:first-of-type {
				margin-bottom: 0px;
			}
		}
	}
	
	&-section {
		background: $WHITE;
		box-sizing: border-box;
		box-shadow: 1px 4px 4px rgba(0,0,0,0.376);
		margin: 0 15px;
		padding: 40px 20px;
		text-align: center;
		min-height: 100%;
		
		p {
			margin-bottom: 0;
		}
		
		img {
			margin-bottom: 15px;
		}
		
		h4 {
			margin-bottom: 10px;
		}
	}
	
}