.UnlimitedDestinations {
	padding: 50px 15px;
	
	.card {
		color: $PRIMARY_COLOR;
		font-family: $PRIMARY_FONT;
		box-shadow: 1px 4px 4px rgba(0,0,0,0.376);
	}

	.card-header {
		color: $WHITE;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		justify-content: left;
		background: url('../images/img-premium-quality-bg.png') no-repeat left bottom;
		background-size: cover;
		font-size: 1.75rem;
		text-align: center;
		
		@include media-breakpoint-up(lg) {
			text-align: left;
		}

		& + .row {
			padding: 1rem;
			background-color: lighten($EAST_SIDE, 25%);
			color: darken($ACCENT_COLOR, 5%);
			
			& > div {
				text-align: center;
				
				@include media-breakpoint-up(lg) {
					text-align: left;
				}
			}
		}
	}

	.card-text {
		text-align: center;
		
		@include media-breakpoint-up(lg) {
			text-align: left;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			line-height: 2;
			
			@include media-breakpoint-up(md) {
				-webkit-columns: 6 150px;
				-moz-columns: 6 150px;
				columns: 6 150px;

				-webkit-column-gap: 2em;
				-moz-column-gap: 2em;
				column-gap: 2em;
			}

			li {
				@include fontSize(16px);
				white-space: nowrap;
			}
		}
	}
	
	&-info {
		border-bottom: 1px solid rgba(0,0,0,0.2);
		color: $ACCENT_COLOR;
		padding: 30px 20px;
		text-align: center;
		
		@include media-breakpoint-up(md) {
			padding: 40px 0;
		}
	}
	
	&-products {
		text-align: center;
		
		p {
			color: $STEELWOOL;
		}
		
		.col-12 {
			margin: 60px 0;
		}
	}
}