.WaysToShop {
	@extend %GRADIENT;
	padding: 2rem 0;
	text-align: center;

	h2 {
		margin-bottom: 2rem;
		font-family: $PRIMARY_FONT;
		font-weight: 100;
		font-size: convertPxToRem(26px);
		color: $PRIMARY_COLOR;
	}

	img {
		max-width: 100%;
	}

	@include media-breakpoint-up(lg) {
		padding: 7rem 0;
		text-align: left;
	}
}