/* Bootstrap imports */
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';

/* Variables, mixins, functions, placeholders */
@import 'flex/variables';
@import 'flex/functions/convert-px-to-rem';
@import 'flex/mixins/font-size';
@import 'flex/mixins/aspect-ratio';
@import 'flex/placeholders/header-height';
@import 'flex/placeholders/line-break';
@import 'flex/placeholders/component-title';
@import 'flex/placeholders/component-padding';
@import 'flex/placeholders/clear';

/* Fonts */
@import 'flex/proxima-nova';
@import 'flex/bebas-neue';
@import 'flex/ubuntu';
@import 'flex/avant-garde';

/* Component imports */
@import 'flex/button';
@import 'flex/faq';
@import 'flex/header';
@import 'flex/navigation';
@import 'flex/dropdown';
@import 'flex/page-title';
@import 'flex/coverage';
@import 'flex/footer';
@import 'flex/share';
@import 'flex/hero';
@import 'flex/intl-rates';
@import 'flex/features';
@import 'flex/error404';
@import 'flex/featuring';
@import 'flex/content';
@import 'flex/price';
@import 'flex/card';
@import 'flex/modal';
@import 'flex/cart';
@import 'flex/product';

html {
	background-color: $PRIMARY_COLOR;
}

body {
	background-color: $WHITE;
	font-family: $PRIMARY_FONT;
	padding-top: $HEADER_HEIGHT_MD;

	@include media-breakpoint-up(lg) {
		padding-top: $HEADER_HEIGHT_LG;
	}
}

a {
	color: $PRIMARY_COLOR;
	transition: color 200ms;

	&:hover {
		color: lighten($PRIMARY_COLOR, 15%);
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $HEADING_FONT;
}

.container-fluid {
	max-width: 1240px;
}

// Helper class to force text to break onto a new line.
.br {
	@extend %LINE_BREAK;
	
	// Add boostrap style classnames as needed for line breaking.
	&-sm {
		@extend %LINE_BREAK;
		
		@include media-breakpoint-up(md) {
			display: inline;
			width: auto;
		}
	}
	&-md {
		@extend %LINE_BREAK;
		
		@include media-breakpoint-up(md) {
			display: inline;
			width: auto;
		}
	}
	&-lg {
		@extend %LINE_BREAK;
		
		@include media-breakpoint-up(md) {
			display: inline;
			width: auto;
		}
	}
	&-xl {
		@extend %LINE_BREAK;
		
		@include media-breakpoint-up(md) {
			display: inline;
			width: auto;
		}
	}
}

strike {
	display: inline-block;
	position: relative;
	text-decoration: none;
	
	&::before {
		background-color: red;
		content: '';
		display: inline-block;
		position: absolute;
		opacity: .85;
		top: 45%;
		width: 100%;
		height: 2px;
	}
}