/* Bootstrap imports */

@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';
/* Variables, mixins, functions, placeholders */

@import 'variables';
@import 'functions/convert-px-to-rem';
@import 'mixins/font-size';
@import 'mixins/aspect-ratio';
@import 'placeholders/gradient';
@import 'placeholders/circle-number';
@import 'placeholders/arrow';
@import 'placeholders/default-body-style';
/* Import Fonts */

@import 'fonts/avant-garde';
@import 'fonts/proxima-nova';
/* Import Components */

@import 'error404';
@import 'button';
@import 'share';
@import 'header';
@import 'footer';
@import 'navigation';
@import 'icon';
@import 'hero';
@import 'blog';
@import 'article';
@import 'price';
@import 'features';
@import 'faq';
@import 'faq-single';
@import 'search-result';
@import 'promotion';
@import 'loading-modal';
@import 'rate-checker';
@import 'intl-provider';
@import 'flex/intl-rates';
@import 'shop-phones';
@import 'coverage-map';
@import 'coverage';
@import 'premium-quality';
@import 'ways-to-shop';
@import 'carousel';
@import 'legal';
@import 'features';
@import 'support';
@import 'multi-month';
@import 'plans-include';
@import 'monthly-plans';
@import 'add-ons';
@import 'country-search';
@import 'cart';
@import 'checkout';
@import 'order';
@import 'payment';
@import 'plan-details';
@import 'unlimited-destinations';
@import 'sms-offer-form';
@import 'ios';
body {
  background: $WHITE;
  padding-top: 89px;
  @include fontSize(18px);
  @include media-breakpoint-up(lg) {
    padding-top: 126px;
  }
}

.container-fluid {
  margin: 0 auto;
  max-width: 1240px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  color: $PRIMARY_COLOR;
  font-family: $PRIMARY_FONT;
  font-weight: 400;
}

h1 {
  @include fontSize(35px);
}

h3 {
  @include fontSize(35px);
}

.alert {
  &>li {
    list-style-type: none;
  }
}

.screen-reader-text {
  display: none;
}

.wc-item-meta {
  display: none;
}
